<b><center>UNCLASSIFIED</center></b>

<img src="./GRAPHICS/Banner.png" width="110%">

# Lesson 3: Data Structures

<hr>
## Table of Contents

* [3.1. Objectives](#Objectives)<br>
* [3.2. Overview](#Overview)<br>
* [3.3. Review](#Review)<br>
* [3.4. Lesson: Data Structures](#Lesson)<br>
    * [3.4.1. Lists, Tuples, and Strings](#Lists)<br>
    * [3.4.2. Common Operations Across Sequences](#Common)<br>
    * [3.4.3. Indexing and Slicing a Sequence](#Indexing)<br>
    * [3.4.4. Unordered Data Structures: Sets and Dictionaries](#Unordered)<br>
* [3.5. Guided Exercise: String and List Operations](#Guided-Exercise)<br>
* [3.6. Practical Exercises](#Practical-Exercises)<br>
    * [3.6.1. Practical Exercise 1: Dealing with Dirty Data](#PE1)<br>
    * [3.6.2 Practical Exercise 2: Indexing and Slicing Sequence Data Structures](#PE2)<br>
    * [3.6.3. Practical Exercise 3: String and List Operations & Indexing and Slicing Sequence Data Structures](#PE3)<br>
    * [3.6.4. Practical Exercise 4: Tuples](#PE4)<br>
    * [3.6.5. Practical Exercise 5: Sets](#PE5)<br>
* [3.7. Administrative Notes](#Administrative)<br>

<a id='Objectives'></a>
## 3.1 Objectives
Using conditionals, loops, Python dictionaries, local data, the CSV Library, and the Glob Library, students will be able to:
 - Examine the implications of using computation to solve a problem
     - Discuss best practices for using computation to solve a problem
     - Suggest types of problems that can be solved through computation
     - Show how computation can solve a problem
     <br><br>
 -  Recognize key computer science concepts
     -  Identify various data types and structures used in Python scripting

<hr>
<a id='Overview'></a>
## 3.2. Overview

The following lesson is divided into three main parts:

* Lesson: Python Data Structures 
* Guided Exercise: String and List Operations 
* Practical Exercises

<b><font color="firebrick">Instructor Guidance:</font> Refer back to Lesson 1 and relate the four steps of problem-solving using Computational Thinking (Decomposition, Pattern Recognition, Abstraction, & Algorithm Design) to lessons, exercises, examples, student questions/comments, etc., as appropriate throughout this lesson.</b>

<hr>
<a id='Review'></a>
## 3.3. Review

Review the following Python data types. Explain in your own words what each data type is. In today's lesson, we will be learning about sequences and groups, which we've added to the table.

| Plain Language Description                              | Python Data Type | `type()` Output |
| :------------------------------------------ | :---------------: | :-------------: |
| True or False                               | Boolean          | `bool`            |
| Whole Numbers                               | Integer          | `int`             |
| Decimal Numbers                             | Float            | `float`           |
| Sequences of characters including letters, <br>numbers, formatting characters, and/or punctuation   | String   | `str` |
| Nothingness, non-existence; not the same as <br>zero or empty                 | None          | `NoneType`            |
| Sequences or groups                                       | List             | `list`            |
|                                             | Tuple            |` tuple`           |
|                                             | Set              | `set`             |
|                                             | Dictionary       | `dict`            |

***
<a id='Lesson'></a>
## 3.4. Lesson: Data Structures

<a id='Lists'></a>
### 3.4.1. Sequences: Lists, Tuples, Strings
<hr>
#### References:
* [Python: Data Structures](https://docs.python.org/3.4/tutorial/datastructures.html#data-structures)
<hr>

A sequence in Python is an ordered grouping of elements.  Each element of a sequence is assigned an _index_, a number that denotes its place in the sequence. The first item in a Python sequence has index `[0]`, the second has index `[1]`, and so on.

Let's take a look at a very basic sequence: the string `'Hello!'` (Remember that Python treats strings as sequences of individual characters.)

<img src="./GRAPHICS/arrayIndex.png" width="50%">

Note that Python supports negative indexing too, with the last element in the sequence having the index `[-1]`. That means each element in a sequence can be accessed with two indexes, a positive one and a negative one.

<hr>
#### 3.4.1.1. Sequences: Lists
<hr>
#### References:
* [Python: More on Lists](https://docs.python.org/3.4/tutorial/datastructures.html#more-on-lists)
* [Effbot: An Introduction to Python Lists](http://www.effbot.org/zone/python-list.htm)
<hr>

Lists are simply containers for holding objects in a given order. Lists are _mutable_, meaning they allow you to add, remove, or overwrite individual elements inside them. In Python, lists are always wrapped in square brackets: `[]`.

#### 3.4.1.1.1. Creating Lists
To initialize or create an empty list, we can use the built-in `list()` function.

In [1]:
empty_list_1 = list()
empty_list_1

[]

Or we can simply use an open square bracket immediately followed by a closed square bracket.

In [2]:
empty_list_2 = []
empty_list_2

[]

You also have the ability to initialize and populate a list at the same time. Just wrap the items, separated by commas, in a set of brackets. Here, we create a list of integers:

In [3]:
numbers_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Lists can contain elements of any data type.

In [4]:
str_list = ['Talk','is','cheap.',       
            'Show','me','the','code.',
            ' - Linus Torvalds']
str_list

['Talk', 'is', 'cheap.', 'Show', 'me', 'the', 'code.', ' - Linus Torvalds']

Lists can also contain data structures, such as lists. Lists stored inside other lists are often called _nested_ lists.

In [5]:
list_of_lists = ['a', 'b', 'c', ['d', 'e', 'f']]
list_of_lists

['a', 'b', 'c', ['d', 'e', 'f']]

#### 3.4.1.1.2. List Methods and Operations

There are a number of methods (i.e. functions) that can be applied to lists. Let's initialize a list of fruit names to explore some of these methods.

In [6]:
juicy_fruit = ['apricot', 'applez', 'bananas', 'cherries', 'clementines']
juicy_fruit

['apricot', 'applez', 'bananas', 'cherries', 'clementines']

Writing a set of brackets with an integer after a list will access or extract an element from the list. The integer inside the brackets refers to the index location of the item to extract. This is sometimes referred to as _bracket notation_. Overwriting the extracted element using the assignment operator (`=`) will change that element inside your list.

| Syntax                 | Description                               |
|:----------------------:|-------------------------------------------|
| `list_variable[n] = x` |Sets the item at index `[n]` to  `x` |

In [7]:
juicy_fruit[1] = 'apples'
juicy_fruit

['apricot', 'apples', 'bananas', 'cherries', 'clementines']

The `.append()` method adds an item to the end of a list.

| Syntax                | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.append(x)` | Adds `x` to the end of the list |

In [8]:
juicy_fruit.append('dragon fruit')
juicy_fruit

['apricot', 'apples', 'bananas', 'cherries', 'clementines', 'dragon fruit']

The `.extend()` method is similar to `.append()`, however instead of adding a single element to a list it adds multiple items, one by one. Because `.extend()` expects to add multiple items, you must pass it a sequence (such as a list) as an argument.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.extend(my_list)`    | Appends each item in `my_list` to a list. |

In [9]:
juicy_fruit.extend(['fig','grapefruit'])
juicy_fruit

['apricot',
 'apples',
 'bananas',
 'cherries',
 'clementines',
 'dragon fruit',
 'fig',
 'grapefruit']

The `.insert()` method also adds an item to a list, however it adds it in the position we specify. The new item will be placed at the index we put in the first argument, moving all later elements in the list to make room.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.insert(i, x)`        | Inserts `x` at index `i` in the list |

In [10]:
juicy_fruit.insert(2, 'elderberry')
juicy_fruit

['apricot',
 'apples',
 'elderberry',
 'bananas',
 'cherries',
 'clementines',
 'dragon fruit',
 'fig',
 'grapefruit']

The `.remove()` method searches a list for the value specified as its argument, and removes the first instance of the value from the collection.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.remove(x)`          | Removes the first appearance of `x` in the list |

In [11]:
juicy_fruit.remove('apples')
juicy_fruit

['apricot',
 'elderberry',
 'bananas',
 'cherries',
 'clementines',
 'dragon fruit',
 'fig',
 'grapefruit']

The `.pop()` method also removes an item from the list. But instead of searching by the item's value, it finds the item to remove by index. Furthermore, the item is not only removed, but _returned_, meaning that it is made available to be, for instance, stored in a new variable.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.pop(i)` | Removes the item at index `i` in the list and returns that item |

In [12]:
popped_item = juicy_fruit.pop(3)
popped_item

'cherries'

In [13]:
juicy_fruit

['apricot',
 'elderberry',
 'bananas',
 'clementines',
 'dragon fruit',
 'fig',
 'grapefruit']

The `.index()` method searches a list for a given value, and returns the index position of the first instance of the value. If the value is not in the list, this method throws an error.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.index(x)`          | Returns the index where `x` first appears in the list <br>Throws an error if `x` is not contained in the list |

In [14]:
juicy_fruit.index('clementines')

3

The `.count()` method counts the number of times a value appears in a list.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.count(x)`| Counts the number of times `x` appears in the list |

In [15]:
juicy_fruit.count('fig')

1

The `.sort()` method sorts your list. By default, it sorts the list in ascending order, however, to sort in descending order pass it the optional `reverse=True` argument.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`list_variable.sort(reverse=False)`    | Sorts the list |

In [16]:
juicy_fruit.sort(reverse=True)
juicy_fruit

['grapefruit',
 'fig',
 'elderberry',
 'dragon fruit',
 'clementines',
 'bananas',
 'apricot']

<hr>
#### 3.4.1.2. Data Structures: Mutable vs. Immutable

Before we move on to our next two data structures, it is important to discuss <i>mutability</i>.

Not all Python objects handle changes the same way.

* An object that can be altered is considered to be <i>mutable</i>.

* An object that cannot be altered is considered to be <i>immutable</i>.

What does this mean? You can make changes to individual pieces of of mutable objects, such as lists. In contrast, individual pieces of immutable objects cannot be changed. The only way to change immutable objects is to overwrite the entire structure. Below is some example code showing how you would change the second item in a list (mutable) versus a tuple (immutable). You can overwrite the individual item in the list, but you need to overwrite the entire tuple to change a single item.

>List Example:
```python
my_list = ['a', 'b', 'c']
>
my_list[1] = 'd'
```
>Tuple Example:
```python
my_tuple = ('a', 'b', 'c')
>
my_tuple = ('a', 'd', 'c')
```

We will discuss the implications of mutability more in the following sections.
<br><br>

<center><b>Mutability of Common Types</b></center>

| Immutable   | Mutable      |
| :-----------:| :------------:|
| int         | list         |
| float       | dictionary   |
| bool        | set          |
| string      |              |
| tuple       |              |

<hr>
#### 3.4.1.3. Sequences: Tuples
<hr>
#### References:
* [Python: Tuples and Sequences](https://docs.python.org/3.4/tutorial/datastructures.html#tuples-and-sequences)
* [TutorialsPoint: Python - Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)
<hr>

Tuples are immutable Python sequences. Like all sequences, items in a tuple are in a set order and are accessible by a numeric index. Like all immutable objects, tuples will not allow you to add, subtract, or edit individual items. To change a value in a tuple, we need to overwrite the entire structure with a new one.

Tuples are always wrapped in parentheses: `()`.

#### 3.4.1.3.1. Creating Tuples

To initialize or create an empty tuple, we can use the built-in `tuple()` function.

In [17]:
empty_tuple_1 = tuple()
empty_tuple_1

()

Or, we can simply use an open parenthesis immediately followed by a close parenthesis.

In [18]:
empty_tuple_2 = ()
empty_tuple_2

()

You also have the ability to initialize and populate a tuple at the same time. Here, we create a tuple containing days of the week.

In [19]:
multi_element_tuple = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday') 
multi_element_tuple

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

Notice what happens if we try to modify one of the elements of a tuple.

In [20]:
multi_element_tuple[0]  = 'Lunes'

TypeError: 'tuple' object does not support item assignment

Creating tuples containing just a single element is tricky, because Python ignores parentheses when they wrap a single item. For example, `(1)` is interpreted as the integer `1`, and `([1, 2])` is interpreted as the list `[1, 2]`. Because of this behavior, we need to add a trailing comma after the element in order to tell Python to create a tuple containing that item.

The following is not a tuple!

In [21]:
(1)

1

To create a single element tuple, insert a trailing comma like so.

In [22]:
(1,)

(1,)

<hr>
#### 3.4.1.4. Sequences: Strings
<hr>
#### References:
* [Python: Strings](https://docs.python.org/3.4/tutorial/introduction.html#strings)
* [Python: string - Common string operations](https://docs.python.org/3.4/library/string.html#module-string)
* [Wikipedia: ASCII](https://simple.wikipedia.org/wiki/ASCII)
* [Wikipedia: Unicode](https://en.wikipedia.org/wiki/Unicode)
* [Wikipedia: Emoji](https://en.wikipedia.org/wiki/Emoji)
<hr>

Strings are immutable sequences of zero or more characters. In Python 3, strings can include extended character sets such as Unicode. Example Unicode characters are shown below:

| Type of Characters    | Unicode Characters |
|:----------------------:|:------------------------------------------------:|
| Foreign Languages     | ` 片仮名, カタカナ    فارسی    राष्ट्र सेवकोत्तम `  |
| Emoji                 | ` ✈️    ⛄️    🦄    🐐 `|
| Symbols               | ` ∑     ∆    √     ⊠ `|

Strings are always wrapped in quotation marks. We can use single quotes (`''`), double quotes (`""`), or three sets of quotation marks often called triple quotes (`""" """`).

#### 3.4.1.4.1. Creating Strings
To initialize or create an empty string, we can use the built-in `str()` function.

In [23]:
empty_string_1 = str()
empty_string_1

''

Or we can simply use a set of single, double, or triple quotation marks.

In [24]:
empty_string_2 = ''
empty_string_2

''

You also have the ability to initialize and populate a string at the same time.

In [25]:
first_name = 'George'
first_name

'George'

In [26]:
last_name = "Washington"
last_name

'Washington'

We can use three sets of quotation marks to define a string that spans multiple lines. Note that the whitespace (new lines, spaces, and tabs) is included as part of the string.

In [27]:
despacito = """Oh, tú, tú eres el imán y yo soy el metal
              Me voy acercando y voy armando el plan
              Sólo con pensarlo se acelera el pulso
              Oh, yeah Ya, ya me está gustando más de lo normal
              Todos mis sentidos van pidiendo más
              Esto hay que tomarlo sin ningún apuro"""

despacito

'Oh, tú, tú eres el imán y yo soy el metal\n              Me voy acercando y voy armando el plan\n              Sólo con pensarlo se acelera el pulso\n              Oh, yeah Ya, ya me está gustando más de lo normal\n              Todos mis sentidos van pidiendo más\n              Esto hay que tomarlo sin ningún apuro'

>NOTE: In Jupyter Notebooks, there are two ways to display output:
>
>1. The `print()` function
>2. If the last line in a code cell produces an output, that is, if it returns something, that output will display under the cell after it runs.
>
>Each approach produces slightly different outputs, especially when the output is a string. Run the cell below and compare the output it produces with the output from the previous code cell.

In [28]:
print(despacito)

Oh, tú, tú eres el imán y yo soy el metal
              Me voy acercando y voy armando el plan
              Sólo con pensarlo se acelera el pulso
              Oh, yeah Ya, ya me está gustando más de lo normal
              Todos mis sentidos van pidiendo más
              Esto hay que tomarlo sin ningún apuro

As you can see, printing strings gets rid of the quotation mark wrapper characters and interprets the whitespace characters (`\n` for example) as actual whitespace on the page.

Putting a `u` before the open quotation mark of a string tells Python to interpret the string as Unicode.

In [29]:
unicode_str = u'\u2708'
unicode_str

'✈'

#### 3.4.1.4.2. String Methods and Operations</b>
<hr>
#### References:
* [Python: string - Common string operations](https://docs.python.org/3.4/library/string.html)
<hr>

There are a number of string methods that can be applied to manipulate strings. Remember that strings are immutable, so these methods all return modified copies of the original string, leaving the original string unaltered.

The `.upper()` method produces a new string where all alphabetic characters are upper case.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.upper()`        | Returns an upper case string |

In [30]:
'hello'.upper()

'HELLO'

The `.lower()` method produces a new string where all alphabetic characters are lower case.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.lower()`                              | Returns a lower case string |

In [31]:
'GOODBYE'.lower()

'goodbye'

The `.title()` method produces a new string where the first letter of each word is capitalized and the remaining letters are lower case.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.title()`         | Returns a title case string |

In [32]:
'pYtHoN'.title()

'Python'

The `.strip()` method removes leading and trailing characters from a string. The default character `.strip()` removes is the space (`' '`), but it will remove any character we pass into the function's argument.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.strip(chars)` | Removes any character found in `chars` from the beginning and end of a string |

In [33]:
'       1234032E    '.strip('1E ')

'234032'

The `.replace()` method returns a copy of the original string where every instance of a specified substring (the first argument) is replaced with a replacement string (the second argument).

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.replace(find, replacement)` | Replaces all occurrences of `find` with `replacement` |

In [34]:
'01/01/2000'.replace('/', '-')

'01-01-2000'

The `.zfill()` method lengthens a string by adding zeros to the left hand side. The argument it takes is an integer denoting how long you want the returned string to be, not how many zeros you want to add.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.zfill(integer)`  | Returns a zero-padded string of length `integer` |

In [35]:
'45'.zfill(4)

'0045'

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.find(sub_string)`    | Searches a string for `sub_string` and returns the index location of first <br>character of the first instance of `sub_string` or `-1` if substring is not found |

In [36]:
states = 'Alabama, Alaska, Arizona, Arkansas...'
states.find('Arizona')

17

In [37]:
states.find('Colorado')

-1

The `.split()` method creates a list of strings from a single string by splitting the original string by a specified delimiter. The delimiter can be a single character or multiple characters, and the default if no argument is passed is to split on whitespace characters.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.split(sub_string)`   | Splits a string into a list of strings using `sub_string` as a delimiter|

In [38]:
sentence = 'A bunch of words separated by spaces'
sentence.split()

['A', 'bunch', 'of', 'words', 'separated', 'by', 'spaces']

The `.join()` method does the inverse of `.split()`. It creates a single string from a list of strings by joining them around another string. The syntax for this method can be a little confusing, so try to remember that the list of strings is the argument inside the parentheses and the join string is that you call the method on. 

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`string_variable.join(list_of_strings)`   | Creates one string from a list of strings by joining them with `string_variable`|

In [39]:
'---'.join(sentence.split())

'A---bunch---of---words---separated---by---spaces'

The relationship between the `.split()` and `.join()` functions can be described by this graphic:

<img src="./GRAPHICS/StringSplitJoin.png" width="33%">

We can concatenate or merge two strings by adding them together using the plus sign (`+`).

In [40]:
first_name + last_name

'GeorgeWashington'

We can repeat strings by multiplying them by an integer. Just like in math, multiplication is just repeated addition.

In [41]:
first_name * 3

'GeorgeGeorgeGeorge'

Finally, we can cast objects to strings with the `str()` function.

In [42]:
str(3.1415)

'3.1415'

#### 3.4.1.4.3. String Mutability

Since strings are immutable, individual pieces of them cannot be changed. In order to permanently change the contents of a string variable, you must overwrite it.

For example, calling `.title()` on `my_string` below does not change the value of `my_string`. The method returns a modified copy of the original string. This is different from the list methods we learned, which all operate _in-place_, meaning that they change the actual value stored in the variable rather than return a copy.

In [43]:
my_string = 'tHiS iS mY tEsT sTrInG!'
my_string.title()

'This Is My Test String!'

Output the variable again to see that it is unchanged.

In [44]:
my_string

'tHiS iS mY tEsT sTrInG!'

This is similar to adding two numbers, but never storing their sum. To hold on to the result of an operation, we need to store it in a variable.

In [45]:
my_int = 5
my_int + 3

8

In [46]:
my_int

5

In order to make string manipulations persist in memory permanent, we must assign the modified copies they return to variables. Often, we'll simply assign the new string to the same variable that held the original string. This overwrites the variable, permanently getting rid of the old string and replacing it with the new one.

In [47]:
my_string = my_string.title()

In [48]:
my_string

'This Is My Test String!'

<hr>
<a id='Common'></a>
### 3.4.2. Common Operations Across Sequences

There are certain operations you can do on any sequence. These operations include indexing, slicing, adding, multiplying, and checking for membership. In addition, Python has built-in functions for finding the length of a sequence and for finding its largest and smallest elements. To demonstrate these capabilities, let's set up a few sample sequences.

In [49]:
sample_string = 'four score and seven years ago'

sample_list = [4, 20, 7]

sample_tuple = ('Abe', 1863)

The `max()` function will take any collection and return the maximum value. If your collection has mixed types (e.g. integers and strings), this function will throw an error.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`max(my_sequence)`    | Returns the maximum value contained in the sequence |

Calling `max()` on a string (remember, a sequence of characters) returns the maximum ASCII value.

In [50]:
max(sample_string)

'y'

Since `sample_list` contains only numbers, `max()` will return the largest number.

In [51]:
max(sample_list)

20

Our `sample_tuple` has mixed types, so `max()` will throw an error.

In [52]:
max(sample_tuple)

TypeError: unorderable types: int() > str()

The `min()` function will take any collection and return the minimum value. If your collection has mixed types (e.g. integers and strings), this function will throw an error.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`min(my_sequence)`    | Returns the minimum value contained in the sequence |

Calling `min()` on a string (remember, a sequence of characters) returns the minimum ASCII value.

In [53]:
min(sample_string)

' '

Since `sample_list` contains only numbers, `min()` will return the smallest number.

In [54]:
min(sample_list)

4

Our `sample_tuple` has mixed types, so `min()` will throw an error.

In [55]:
min(sample_tuple)

TypeError: unorderable types: int() < str()

The `len()` function finds the length of a sequence, or the number of items in a collection.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`len(my_sequence)`    | Returns the length of the sequence as an integer |

Since the elements of a string are individual characters, `len()` counts the number of characters when passed a string.

In [56]:
len(sample_string)

30

When passed a collection or sequence, `len()` counts the number of elements. Nested collections like sub-lists are counted as a single item.

In [57]:
len(sample_list)

3

In [58]:
len(sample_tuple)

2

The `sorted()` function is like the `.sort()` list method, except it doesn't operate in-place. That is, it doesn't change the value of the original variable, but instead returns a sorted copy of the sequence.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`sorted(my_sequence)`    | Returns a sorted copy of the sequence |

When called on a string, `sorted()` breaks the string into a list of individual characters and then sorts it, and we get a list as the result.

In [59]:
sorted(sample_string)

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'a',
 'a',
 'a',
 'c',
 'd',
 'e',
 'e',
 'e',
 'e',
 'f',
 'g',
 'n',
 'n',
 'o',
 'o',
 'o',
 'r',
 'r',
 'r',
 's',
 's',
 's',
 'u',
 'v',
 'y']

In [60]:
sorted(sample_list)

[4, 7, 20]

When called on a tuple, `sorted()` casts the tuple to a list before sorting and returns a sorted list (the same behavior as with a string). However, since our `sample_tuple` has mixed types, we get an error here when trying to sort it.

In [61]:
sorted(sample_tuple)

TypeError: unorderable types: int() < str()

<hr>
<a id='Indexing'></a>
### 3.4.3. Indexing and Slicing a Sequence
<hr>
<img src="./GRAPHICS/ArrayIndex.png" width="50%">
<hr>
#### 3.4.3.1. Indexing

You can also access elements of a sequence directly using their location or index using _bracket notation_. Remember in Python we start counting from zero.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`sequence[i]`   | Returns the element at index `i` |

When we use bracket notation on strings, we get back the character in the given position.

In [62]:
sample_string

'four score and seven years ago'

In [63]:
sample_string[0]

'f'

We use the exact same notation to access the elements of a list.

In [64]:
sample_list

[4, 20, 7]

In [65]:
sample_list[1]

20

And the same notation works on tuples. Any sequence, or any ordered object, has an index and can therefore be accessed in this way.

In [66]:
sample_tuple[0]

'Abe'

We can access elements of a sequence by specifying their position using positive or negative indexes. Recall that negative indexes count backwards from the end of the sequence, and thus are often more useful when the item we want to access comes near the end of our sequence. Below, we access the same character in `sample_string` with both its positive and negative index.

In [67]:
sample_string[21]

'y'

In [68]:
sample_string[-9]

'y'

Notice what happens if we try to access an index that is not contained in our sequence.

In [69]:
sample_string[100]

IndexError: string index out of range

Python has a special error type for this, called an `IndexError`. It basically says that Python can't grab the item at the provided index because it doesn't exist.

<hr>
#### 3.4.3.2. Slicing

Slicing is similar to indexing except you are accessing multiple items instead of a single element. A slice can be of any size from zero elements up to the length of the entire collection.

| Syntax               | Description                               |
|:----------------------:|-------------------------------------------|
|`sequence[start_index:stop_index]`| Returns the elements from `start_index` up to but not including `stop_index`|

Below we access all characters from index `5` up to but not including index `10`:

In [70]:
sample_string[5:10]

'score'

Here we are accessing all characters from index `0` up to but not including index `4`.

In [71]:
sample_string[0:4]

'four'

If you do not specify a `start_index`, it is assumed to be `0`. Here we are accessing all characters from the start of the string up to but not including index 4, which gives us the same result as the slice above.

In [72]:
sample_string[:4]

'four'

Here we are accessing all characters from index `15` up to but not including index `-1`.

In [73]:
sample_string[15:-1]

'seven years ag'

If you do not specify an `end_index`, the slice will include everything from the `start_index` up to and including the end of the sequence. Here we are accessing all characters from index `15` onward.

In [74]:
sample_string[15:]

'seven years ago'

If you do not specify a `start_index` or an `end_index`, the slice will include the entire sequence. This is effectively making a complete copy of the sequence.

In [75]:
sample_string[:]

'four score and seven years ago'

<hr>
<a id='Unordered'></a>
### 3.4.4. Unordered Data Structures: Sets and Dictionaries

<hr>
Sequences are like pill boxes.  They contain pieces of data in an orderly fashion, where each box is given an address or index.

<img src="./GRAPHICS/list_pillbox.png" width="33%">

Unordered collections, on the other hand, are like pill bottles.  While they also contain pieces of data, there is not an inherent order or numerical addressing system.  Unordered collections have no index and therefore cannot be accessed with numerical indexes.

<img src="./GRAPHICS/list_pillbottle.png" width="15%">

<hr>
#### 3.4.4.1. Sets
<hr>
#### References:
* [Python: Sets](https://docs.python.org/3.4/tutorial/datastructures.html#sets)
<hr>

Python sets are mutable, unordered collections with no duplicates. Like all unordered collections, sets are not considered sequences and do not support indexing or slicing. Basic uses of sets include membership testing and deduplication. Sets also support mathematical operations like union, intersection, difference, and symmetric difference. 

Sets are always wrapped in curly braces: `{}`

#### 3.4.4.1.1. Creating Sets

Unlike the other collections we've seen so far, there's only one way to create an empty set, and that is to call the `set()` function with no arguments.

In [76]:
my_set = set()                      
my_set

set()

To create a pre-populated set, wrap multiple elements in curly braces.

In [77]:
my_set = {1, 'a', 3.1415}
my_set

{1, 3.1415, 'a'}

One special feature of sets is that they automatically drop duplicate values. All values in a set must be unique.

In [78]:
my_set = {1, 1, 1, 3, 4, 5}
my_set

{1, 3, 4, 5}

#### 3.4.4.1.2. Set Methods and Operations

To add elements to a set, use the `.add()` method. Note that this is an in-place operation, changing the variable's underlying value.

In [79]:
my_set.add(297)
my_set

{1, 3, 4, 5, 297}

To remove individual elements from a set, use the `.remove()` method. This operation also occurs in-place.

In [80]:
my_set.remove(1)
my_set

{3, 4, 5, 297}

We can test for membership with the <font color="green"><b>in</b></font> keyword:

In [81]:
297 in my_set

True

A set appears visually as such:

<img src="./GRAPHICS/FoodExample.png" width="50%">

The set data structure unlocks set-specific mathematical operations. You may be familiar with set arithmetic from working with Venn diagrams. People sometimes refer to set operations as _cross referencing_.

In the following examples, assume you are given two sets: `A` and `B`.

| Code| Mathematical Operation  | Description                       | Graphical Representation   |
|:----------------------:|:-----:|:------------------------------:|:----------------------------:|
| `A & B`|Intersection | Returns elements that appear in both set A and set B| <img src="./GRAPHICS/intersection2.png" width="50%">|
| `A` &#124; `B`|Union| Returns elements in either set A or set B |<img src="./GRAPHICS/union2.png" width="50%">|
| `A ^ B`|Symmetric Set Difference| Returns elements in set A or set B, but not in both|<img src="./GRAPHICS/symmetricdiff.png" width="50%">|
|`A - B` |Left Set Difference|Returns elements only in set A but not set B|<img src="./GRAPHICS/diff1.png" width="50%"> |
|`B - A`|Right Set Difference|Returns elements only in set B but not set A|<img src="./GRAPHICS/diff2.png" width="50%"> |

As an example, let's look at two sets of employee names.

In [82]:
team_members = {'Smith', 'Daniels', 'Robertson', 'Chen', 'Winters', 'Baker', 'Johnson', 'Blake'}                    

completed_mandatory_training = {'Winters', 'Robertson', 'Smith'}

Who still needs to complete mandatory training? To find out, we could take the set difference.

In [83]:
team_members - completed_mandatory_training

{'Baker', 'Blake', 'Chen', 'Daniels', 'Johnson'}

<hr>
#### 3.4.4.2. Dictionaries
<hr>
#### References:
* [Python: Dictionaries](https://docs.python.org/3.4/tutorial/datastructures.html#dictionaries)

<hr>

Dictionaries are collections of key-value pairs. Unlike sequences, which are indexed numerically, dictionaries are indexed by keys, which can be any immutable type. Strings, numbers, and tuples can all serve as keys in a dictionary, for example.

Dictionaries share many properties with sets:
* Both sets and dictionaries are unordered
* Both sets and dictionaries are wrapped in curly braces
* Sets must have unique entries, dictionaries must have unique keys

#### 3.4.4.2.1. Creating Dictionaries

Like sets, dictionaries use curly braces as wrappers. However, a set of empty curly braces gets interpreted as an empty dictionary, not a set.

In [84]:
empty_dictionary = {}
empty_dictionary

{}

We can also set up a dictionary that's populated with entries. Note that each entry in the dictionary below is a pair of values separated by a colon (`:`). To the left of the colon is the entry's _key_, and to the right is the _value_. Dictionary entries are always structured like this: `key: value`.

In [85]:
english_french_dictionary = {'hello': 'bonjour',
                             'world': 'monde',
                             'thank you': 'merci'}
english_french_dictionary

{'hello': 'bonjour', 'thank you': 'merci', 'world': 'monde'}

#### 3.4.4.2.2. Dict Methods and Operations

To access a value inside a dictionary, we use bracket notation. But instead of putting a numeric index inside the brackets, we put a key.

>Example:
```python
dict_variable[key]
```

Below, we access the value stored at the key `'hello'` in our `english_french_dictionary`.

In [86]:
english_french_dictionary['hello']

'bonjour'

Dictionaries are mutable, so we can create or modify key-value pairs individually without overwriting the entire structure. The syntax to create or edit an entry's value mirrors the syntax for overwriting an item in a list.

>Example:
```python
dict_variable[key] = value
```

Let's add an entry to our dictionary from above.

In [87]:
english_french_dictionary['good bye'] = 'au revoir'
english_french_dictionary

{'good bye': 'au revoir',
 'hello': 'bonjour',
 'thank you': 'merci',
 'world': 'monde'}

Deleting a key-value pair from a dictionary requires the `del` keyword. Be careful, as deletions using `del` permanently wipe the entry from memory.

>Example:
```python
del dict_variable[key]
```

In [88]:
del english_french_dictionary['good bye']

english_french_dictionary

{'hello': 'bonjour', 'thank you': 'merci', 'world': 'monde'}

We can quickly glance through all of the keys in a dictionary using the `.keys()` method. This method returns a list-like object.

In [89]:
english_french_dictionary.keys()

dict_keys(['hello', 'world', 'thank you'])

Additionally, we can look at the values in a dictionary using the `.values()` method.

In [90]:
english_french_dictionary.values()

dict_values(['bonjour', 'monde', 'merci'])

The `.items()` method gives us a list-like object of key-value pairs stored as tuples.

In [91]:
english_french_dictionary.items()

dict_items([('hello', 'bonjour'), ('world', 'monde'), ('thank you', 'merci')])

<hr>
<a id='Guided-Exercise'></a>
## 3.5. Guided Exercise: String and List Operations

<b><font color="brick">Instructor Guidance</font>: Refer back to Lesson 1 and relate the four steps of problem-solving using Computational Thinking (Decomposition, Pattern Recognition, Abstraction, & Algorithm Design) as appropriate throughout these exercises.</b>

<hr>
#### References:
* [Python: Built-in Functions](https://docs.python.org/3.4/library/functions.html)
* [Python:  string - Common string operations](https://docs.python.org/3.4/library/string.html)

<hr>

Problem 1. For the given geocoordinates below, write code that evaluates each point and determines if the point is a latitude.  
```python
coord_a = '454545N'
coord_b = '0342313E'
coord_c = '1421623W'
coord_d = '881053S'
```

First, we need to store our inputs in variables so we can access them in our script.

In [92]:
coord_a = '454545N'
coord_b = '0342313E'
coord_c = '1421623W'
coord_d = '881053S'

We know that latitudes can be either north or south, so we can look for the characters `N` or `S` in each string to determine whether it's a latitude. Since we're searching for either one of the two characters, we join two membership tests with the `or` logical operator.

In [93]:
'N' in coord_a or 'S' in coord_a

True

Let's run our test on all of the remaining coordinates.

In [94]:
'N' in coord_b or 'S' in coord_b

False

In [95]:
'N' in coord_c or 'S' in coord_c

False

In [96]:
'N' in coord_d or 'S' in coord_d

True

Problem 2. For the given geocoordinates below, write code that evaluates each point and determines if the point is a longitude.  
```python
points = ['342312N', '1023202E', '1005642E', '1800000W']
```

First, let's store the inputs in memory.

In [97]:
points = ['342312N', '1023202E', '1005642E', '1800000W']

We can deploy a similar test we used above to check for latitudes, just changing it slightly to look for `E` or `W` instead. However, our inputs are also slightly different from before. Rather than having four separate strings, we have one list of strings. We need to alter our code to access the individual list elements before running our tests. Do you remember how to access items in a list?

In [98]:
points[0]

'342312N'

In [99]:
'E' in points[0] or 'W' in points[0]

False

Looks like it worked! Let's run the test on the remaining coordinates.

In [100]:
'E' in points[1] or 'W' in points[1]

True

In [101]:
'E' in points[2] or 'W' in points[2]

True

In [102]:
'E' in points[3] or 'W' in points[3]

True

#### Follow-up Questions:
1. This is an example of membership testing. What other types of data can you run membership tests on?
2. What is the data type of the input(s) in Problem 1?
3. What is the data type of the input(s) in Problem 2?

<a id='Practical-Exercises'></a>

<hr>
<a id='Practical-Exercises'></a>
## 3.6. Practical Exercises

<b><font color="brick">Instructor Guidance</font>: Refer back to Lesson 1 and relate the four steps of problem-solving using Computational Thinking (Decomposition, Pattern Recognition, Abstraction, & Algorithm Design) as appropriate throughout these exercises.

<font color="brick">Instructor Guidance</font>: The practical exercises deemed most important due to content and/or a cumulative result, which should be completed first in the interest of maximum training value in relation to time are Practical Exercises 1, 3, and 5. Ensure you go over the exercise solutions and (as necessary) the processes to arrive at the solutions with the students.

<font color="brick">Instructor Guidance</font>: Follow-up questions are designed to be asked by the facilitators individually as each student completes the task and has it looked at by a facilitator.</b>

<a id='PE1'></a>
### 3.6.1. Practical Exercise 1: Dealing with Dirty Data
<hr>
#### References:
* [Python: string - Common string operations](https://docs.python.org/3.4/library/string.html)
<hr>

Often, data is dirty, improperly or inconsistently formatted.  What is wrong with the data below and how would you clean it up?  There is usually more than one way to clean up data.  Can you think of two ways for each example? Assume the code you write will be used for cleaning up these two examples only, not all possible inputs.

```python
latitude = 'n435421'
longitude = ' 1200001E '
```

The desired formats are as follows:
* longitude: `DDDMMSS` + `E` or `W` (Example: `432602N`)
* latitude: `DDMMSS` + `N` or `S` (Example: `1104523E`)

Latitude ranges from 0 to 90 degrees, and longitude ranges from 0 to 180 degrees.

In [103]:
## YOUR CODE GOES HERE ##

In [104]:
## INSTRUCTION SOLUTION(S) ##
latitude = 'n435421'
longitude = ' 1200001E '

print(latitude[1:] + 'N')

print(longitude.strip())

435421N
1200001E

<hr>
<a id='PE2'></a>
### 3.6.2. Practical Exercise 2: Indexing and Slicing Sequence Data Structures

<hr>

#### References:
* [Python: Strings](https://docs.python.org/3.4/tutorial/introduction.html#strings)
* [Wikipedia: Mount Nyiragongo](https://en.wikipedia.org/wiki/Mount_Nyiragongo)
<hr>

How would you slice the following string to get the desired information? Assume the code you write will only be used on the following string. You don't need to account for the possibility of different paragraphs.

```python
temp_string = """Mount Nyiragongo is an active stratovolcano with an elevation of 3,470 metres (11,380 ft) 
in the Virunga Mountains associated with the Albertine Rift. It is located inside Virunga National Park, 
in the Democratic Republic of the Congo, about 20 km (12 mi) north of the town of Goma and Lake Kivu and 
just west of the border with Rwanda."""
```

Information to extract:
1. Volcano Name (`Mount Nyiragongo`)
2. Elevation (`3,470 metres`)

In [105]:
## YOUR CODE GOES HERE ##

In [106]:
## INSTRUCTION SOLUTION(S) ##
temp_string = """Mount Nyiragongo is an active stratovolcano with an elevation of 3,470 metres (11,380 ft) 
in the Virunga Mountains associated with the Albertine Rift. It is located inside Virunga National Park, 
in the Democratic Republic of the Congo, about 20 km (12 mi) north of the town of Goma and Lake Kivu and 
just west of the border with Rwanda."""

print(temp_string[:17])
print(temp_string[65:77])

Mount Nyiragongo
3,470 metres

<hr>
<a id='PE3'></a>
### 3.6.3. Practical Exercise 3: String and List Operations & Indexing and Slicing Sequence Data Structures
<hr>
#### References:
* [Python: Strings](https://docs.python.org/3.4/tutorial/introduction.html#strings)
* [Python: Lists](https://docs.python.org/3.4/tutorial/introduction.html#lists)
* [Wikipedia: Mount Nyiragongo](https://en.wikipedia.org/wiki/Mount_Nyiragongo)
<hr>

Split the following string into a list and slice the list to get the same information as above.

```python
temp_string = """Mount Nyiragongo is an active stratovolcano with an elevation of 3,470 metres (11,380 ft) 
in the Virunga Mountains associated with the Albertine Rift. It is located inside Virunga National Park, 
in the Democratic Republic of the Congo, about 20 km (12 mi) north of the town of Goma and Lake Kivu and 
just west of the border with Rwanda."""
```

Information to extract:
1. Volcano Name (`Mount Nyiragongo`)
2. Elevation (`3,470 metres`)

In [107]:
## YOUR CODE GOES HERE ##

In [108]:
## INSTRUCTION SOLUTION(S) ##
temp_string = """Mount Nyiragongo is an active stratovolcano with an elevation of 3,470 metres (11,380 ft) 
in the Virunga Mountains associated with the Albertine Rift. It is located inside Virunga National Park, 
in the Democratic Republic of the Congo, about 20 km (12 mi) north of the town of Goma and Lake Kivu and 
just west of the border with Rwanda."""

temp_list = temp_string.split(' ')

print(' '.join(temp_list[:2]))
print(' '.join(temp_list[10:12]))

Mount Nyiragongo
3,470 metres

<hr>
<a id='PE4'></a>
### 3.6.4. Practical Exercise 4: Tuples
<hr>
#### References:
* [Wikipedia: Tuple](https://en.wikipedia.org/wiki/Tuple)
<hr>

Problem 1. Given the following tuple, create a string joining all the elements in the tuple into a single word.  
```python
a_tuple = ('c', 'l', 'a', 's', 's', 'r', 'o', 'o', 'm')
```

In [109]:
## YOUR CODE GOES HERE ##

In [110]:
## INSTRUCTION SOLUTION(S) ##
a_tuple = ('c', 'l', 'a', 's', 's', 'r', 'o', 'o', 'm')

''.join(a_tuple)

'classroom'

Problem 2. Get the 3rd element by its positive index, and the 5th element by its negative index from the tuple below:
```python
b_tuple = (3, 4, 6, 3, 4, 7, 8, 8, 10, 437, 'b', 'd', 's', 's')
```

In [111]:
## YOUR CODE GOES HERE ##

In [112]:
## INSTRUCTION SOLUTION(S) ##
b_tuple = (3, 4, 6, 3, 4, 7, 8, 8, 10, 437, 'b', 'd', 's', 's')

b_tuple[2], b_tuple[-10]

(6, 4)

Problem 3. How do you merge the below tuple with `a_tuple` from above, creating one new tuple with all the elements from both?  

HINT: Because tuples are immutable, you cannot add items into a tuple.  However, like strings (which are also immutable), you can concatenate them with the plus sign (`+`).  
```python
c_tuple = (5, 9)
```

In [113]:
## YOUR CODE GOES HERE ##

In [114]:
## INSTRUCTION SOLUTION(S) ##
c_tuple = (5, 9)

a_tuple + c_tuple

('c', 'l', 'a', 's', 's', 'r', 'o', 'o', 'm', 5, 9)

<hr>
<a id='PE5'></a>
### 3.6.5. Practical Exercise 5: Sets 
<hr>
#### References:
* [Wikipedia: Set theory](https://en.wikipedia.org/wiki/Set_theory)
<hr>

Problem 1. Remove `8` from the set below and add `1000` to the set. 
```python
a_set = {3, 4, 6, 8, 10, 125}
```

In [115]:
## YOUR CODE GOES HERE ##

In [116]:
## INSTRUCTION SOLUTION(S) ##
a_set = {3, 4, 6, 8, 10, 125}

a_set.remove(8)

a_set.add(1000)
a_set

{3, 4, 6, 10, 125, 1000}

Problem 2. What is the intersection of the two sets below?
```python    
set1 = {1,4,3,5}
set2 = {1,7,9,4}
```

In [117]:
## YOUR CODE GOES HERE ##

In [118]:
## INSTRUCTION SOLUTION(S) ##
set1 = {1,4,3,5}
set2 = {1,7,9,4}

set1 & set2

{1, 4}

Problem 3. What is the union of the two sets above?

In [119]:
## YOUR CODE GOES HERE ##

In [120]:
## INSTRUCTION SOLUTION(S) ##
set1 | set2

{1, 3, 4, 5, 7, 9}

Problem 4. How do you get rid of all the duplicates in the list below using sets?
```python
a_list = [3, 4, 6, 3, 4, 7, 8, 8, 10, 437, 'b', 'd', 's', 's']
```

In [121]:
## YOUR CODE GOES HERE ##

In [122]:
## INSTRUCTION SOLUTION(S) ##
a_list = [3, 4, 6, 3, 4, 7, 8, 8, 10, 437, 'b', 'd', 's', 's']

set(a_list)

{3, 4, 'd', 6, 7, 8, 10, 's', 437, 'b'}

<hr>
<a id='Administrative'></a>
## 3.7. Administrative Notes
* Save your Lesson 3 .ipynb file to your H drive.

<b><center>UNCLASSIFIED</center></b>