<b><center>UNCLASSIFIED</center></b>

<img src="./GRAPHICS/Banner.png" width="110%">

# Lesson 8: Prepare for the Final Exercise

***
## Table of Contents

* [8.1. Objectives](#objectives)<br>
* [8.2. Overview](#overview)<br>
* [8.3. Computational Thinking](#CompT)<br>
* [8.4. Python Data Types](#DataTypes)<br>
   * [8.4.1. Boolean Values and Operators](#boolean)<br>
   * [8.4.2. Reserved Python Keywords](#Keywords)<br>
   * [8.4.3. Numbers (Integers and Floating-Point)](#numbers)<br>
   * [8.4.4. None](#none)<br>
* [8.5. Python Data Structures](#Structures)<br>
   * [8.5.1. Sequences: Lists, Tuples, Strings](#Sequences)<br>
   * [8.5.2. Sets](#sets)<br>
   * [8.5.3. Dictionaries](#dictionaries)<br>
* [8.6. Flow Control](#codeflow)<br>
   * [8.6.1. If Statements](#if)<br>
   * [8.6.2. For Loops](#for)<br>
   * [8.6.3. While Loops](#while)<br>
   * [8.6.4. Break and Continue](#break)<br>
   * [8.6.5. Functions](#function)<br>
* [8.7. Getting Data](#GettingData)<br>
   * [8.7.1. Entering Data From the Prompt](#Prompt)<br>
   * [8.7.2. Loading a Local Data File](#Local)<br>
   * [8.7.3. Getting Data with the CSV Library](#csv)<br>
   * [8.7.4. The Glob Library](#glob)<br>
   * [8.7.5. The JSON Library](#json)<br>
* [8.8. Administrative Notes](#Administrative)<br>

***
<a id="objectives"></a>
## 8.1. Objectives
Using conditionals, loops, Python dictionaries, local data, the CSV Library, and the Glob Library, students will be able to:

* Examine the implications of using computation to solve a problem
    * Discuss best practices for using computation to solve a problem
    * Suggest types of problems that can be solved through computation
    * Show how computation can solve a problem
<br><br>    
* Recognize key computer science concepts
    * Identify data types used in Python scripting
    * Identify data structures used in Python scripting
    * Define variables and strings
    * Recognize how queries operate
<br><br>    
* Demonstrate the ability to build basic scripts using Python scripting language
    * Use various data types and structures in Python scripting
    * Collect data using Python scripting
    * Extract data using Python scripting
    * Develop advanced data structures using Python scripting

<hr> <a id="overview"></a>
## 8.2. Overview

<b><font color="brick">Instructor Guidance</font>: Refer back to Lesson 1 and relate the four steps of problem-solving using Computational Thinking (Decomposition, Pattern Recognition, Abstraction, & Algorithm Design) to lessons, exercises, examples, student questions/comments, etc., as appropriate throughout this lesson.</b>

<b><font color="brick">Instructor Guidance</font>: Technical Facilitators found that this lesson works best when allowing students at least an hour at the beginning of the session to work through the lesson at their own pace and to identify issues they may have. These issues can be addressed either one-on-one, or with the entire class.</b>

#### Welcome to Lesson 8

You've made it to Lesson 8. We have covered a lot of material in a very short time, so it is time to do a more comprehensive review. So far we have spent a lot of time learning about:

   * Computational Thinking
   * Python Data Types and Structures
   * Python Script Flow Control
   * Getting Data
   * Working with Data

Today we are going to review everything that has been covered in the course thus far.

<a id="CompT"></a>
<hr>
## 8.3. Computational Thinking

Computers are not smart, but they are fast. They need explicit instructions in order to solve a problem. Programming languages are designed to eliminate the ambiguity found in natural language. This means that when we, as programmers, are presented with a problem, we have to provide the computer a complete set of instructions in a programming language for it to do what we want. This requires a special, rigorous mode of reasoning that we call computational thinking.

<img src="./GRAPHICS/IconKeyPoster.png" width="60%">
<img src="./GRAPHICS/IconPlacematt.png" width="60%">

The basic steps for approaching a computational problem are:

>1. **Decomposition:** Breaking down data, processes, or problems into smaller, manageable parts
>    1. Make sure you understand the problem
>        1. Identify the inputs
>        2. Identify what the answer should look like
>    2. If it’s a large scale problem, identify possible smaller components
<br><br>    
>2. **Pattern Recognition:** Observing patterns, trends, and regularities in data
>    1. Inspect your data
>        1. Make sure the inputs and outputs you’ve identified make sense
>        2. Look for trends or possible fringe cases
<br><br>       
>3. **Abstraction:** Identifying the general principles that generate these patterns
>    1. Work out a problem by hand
>        2. As you work out by hand, attempt to make simple steps
<br><br>
>4. **Algorithm Design:** Developing the step by step instructions for solving this and similar problems 
>    1. Begin to formalize your steps into a set of pseudocode
>    2. Identify available software tools
>        1. These may be outside packages, things you’ve written in the past, or built-in python functionality
>    3. Implement your pseudocode

Writing pseudocode is a great way to think through a problem fully before you start coding. Writing pseudocode allows you to practice computational thinking without worrying about code syntax. For any given problem, your pseudocode should be a list of step-by-step instructions to go from your inputs to your desired outputs. 

Example Problem:
- Given a list of numbers, find the difference between the maximum and minimum values in the list.

Pseudocode:
1. Store the list of numbers in a variable (call it `my_list` for now)
2. Find the maximum value in the list (call it `my_max`)
3. Find the minimum value in the list (call it `my_min`)
4. Return the result of `my_max - my_min`

Your pseudocode serves as a template when you start writing your Python code. Once your pseudocode is written, you can focus on the syntax rather than the logic of your script.

<b><font color="firebrick">Instructor Guidance</font>: Poll the class for any coding problems to work through in the code cells below.</b>

NOTE: For each exercise in this notebook, write your own pseudocode before you begin coding a solution.

In [1]:
## Try some code ideas here ##

<hr> <a id="DataTypes"></a>
## 8.4. Python Data Types 

There are many data types in Python, but these are the basics: Boolean, integer, float, string, and None. See the table below for descriptions of each data type. See the table below for descriptions of each type.

| Plain Language Description                              | Python Data Type | `type()` Output |
| :------------------------------------------ | :---------------: | :-------------: |
| True or False                               | Boolean          | `bool`            |
| Whole Numbers                               | Integer          | `int`             |
| Decimal Numbers                             | Float            | `float`           |
| Sequences of characters including letters, <br>numbers, formatting characters, and/or punctuation   | String   | `str` |
| Nothingness, non-existence; not the same as <br>zero or empty                 | None          | `NoneType`            |

<hr> <a id="boolean"></a>
### 8.4.1. Boolean Values and Operators

In Python, a Boolean type can only be one of two possible values: <b><font color="green">True</font></b> or <b><font color="green">False</font></b>.  <b><font color="green">True</font></b> or <b><font color="green">False</font></b> can be explicitly defined or defined as the result of a test expression. 

Example: Both of the following lines of code create a Boolean value, i.e. either `True` or `False`.
```python
my_bool = True 

my_bool = 100 >= 101
```

Any Python object can be tested in a Boolean expression.  For example, if the variable `x` was assigned the value of `35`, then the expression `x > 40` (i.e., is `x` greater than `40`?) would evaluate to <b><font color="green">False</font></b>. Booleans are instrumental in flow control, because they allow us to capture facts about the state of our script and run certain blocks of code depending on those facts.

Below we create two Boolean values explicitly, and store them in variables.

In [2]:
my_boolean_1 = True
my_boolean_1

True

In [3]:
my_boolean_2 = False
my_boolean_2

False

<hr>
#### 8.4.1.1. Comparison Operators

Another way to create a Boolean value is to ask Python to compare two different values. You can compare values in a number of different ways, shown in the table below.

| Operator  | Operation                |
| :-------: | :----------------------- |
| `==`        | equals                |
| `!=`        | not equal to             |
| `>`         | greater than             |
| `>=`        | greater than or equal to |
| `<`         | less than                |
| `<=`        | less than or equal to    |

Below we initialize a variable that holds an integer. Can you guess the result of the expressions below? Run each cell to output the result. You can also change the value of `grade` and see how the results change.

In [4]:
grade = 50

In [5]:
grade > 50

False

In [6]:
grade <= 50

True

In [7]:
grade == 50

True

In [8]:
## Try some code ideas here ##

##### 8.4.1.1.1. Comparison Operators Exercise
Define two variables that store numeric values (either `int` or `float`), and write expressions that check whether the values are equal to, not equal to, greater than, or less than each other.

In [9]:
## YOUR CODE GOES HERE ##

In [10]:
## INSTRUCTION SOLUTION(S) ##
num_1 = 67
num_2 = 188.5

print(num_1 == num_2)
print(num_1 != num_2)
print(num_1 > num_2)
print(num_1 < num_2)

False
True
False
True

***
#### 8.4.1.2. Membership Operators
Another type of expression that creates a Boolean value is a membership test. The membership operators below are used to write membership tests.

| Operator | Operation                                                            |
| :------: | :------------------------------------------------------------------- |
| <b><font color="green">in</font></b>       | Checks if the left side of expression contained in the right side of expression |
| <b><font color="green">not in</font></b>   | Checks if the left side of expression is not contained in the right side of expression |

Below we save a list of strings to a variable, an run membership tests on it. Guess the results and then run each expression to output the result.

In [11]:
NATO = ['Belgium', 'Canada', 'Denmark', 'France', 'Iceland', 'Italy', 'Luxembourg', 'Netherlands',
        'Norway', 'Portugal', 'United Kingdom', 'United States', 'Greece', 'Turkey', 'Germany',
        'Spain', 'Czech Republic', 'Hungary', 'Poland', 'Bulgaria', 'Estonia', 'Latvia',
        'Lithuania', 'Romania', 'Slovakia', 'Slovenia', 'Albania', 'Croatia', 'Montenegro']

In [12]:
'United Kingdom' in NATO

True

In [13]:
'United Kingdom' in NATO

True

In [14]:
'Sweden' in NATO

False

In [15]:
'Sweden' not in NATO

True

***
##### 8.4.1.2.1 Membership Operators Exercises
Exercise 1. Create a variable that stores a string, and write a membership test to check whether that string is contained in the list `NATO`. Does changing the capitalization in your string affect the outcome?

In [16]:
## YOUR CODE GOES HERE ##

In [17]:
## INSTRUCTION SOLUTION(S) ##

my_string = 'Slovakia'

my_string in NATO

True

Exercise 2. Create a variable that stores a number, and write a membership test to check whether that value is contained in the list below. Does using a float vs. an integer affect your result?

```python
test_list = [493, 168, 75, 361, 297, 71, 308, 5, 36, 174, 378, 155, 252, 348, 151, 354, 181]
```

In [18]:
## YOUR CODE GOES HERE ##

In [19]:
## INSTRUCTION SOLUTION(S) ##
test_list = [493, 168, 75, 361, 297, 71, 308, 5, 36, 174, 378, 155, 252, 348, 151, 354, 181]

my_num = 36.0

my_num in test_list

True

<hr>
#### 8.4.1.3. Logic Operators
Logical operators are used to combine Boolean expressions or values into larger Boolean expressions.

| Operator  | Operation                |
| :-------: | :----------------------- |
| <b><font color="green">and</font></b>        | Checks if two statements are _both_ <b><font color="green">True</font></b>     |
| <b><font color="green">or</font></b>    | Checks if _either_ of two statements are <b><font color="green">True</font></b> |

The <b><font color="green">and</font></b> and <b><font color="green">or</font></b> operators work like they do in plain language. For example, the statement "I have a black dog <b><font color="green">and</font></b> a brown dog" is only true if I have both a black and a brown dog.  However, the statement "I have a black dog <b><font color="green">or</font></b> a brown dog" is true if I have a dog of either color.

In [20]:
NATO = ['Belgium','Canada','Denmark','France','Iceland','Italy','Luxembourg','Netherlands',
        'Norway','Portugal','United Kingdom','United States','Greece','Turkey','Germany',
        'Spain','Czech Republic','Hungary','Poland','Bulgaria','Estonia','Latvia',
        'Lithuania','Romania','Slovakia','Slovenia','Albania','Croatia','Montenegro']

Inside a compound Boolean expression, your smaller expressions may be wrapped in parentheses.

In [21]:
('United Kingdom' in NATO) and ('Sweden' in NATO)

False

At times, using parentheses isn't necessary, but it can improve your code's readability.

In [22]:
'United Kingdom' in NATO or 'Sweden' in NATO

True

##### 8.4.1.4. Boolean Values and Operators Exercises

In the cells below, replace the `?`'s with Python operators or keywords that make each of the statements output <font color=green>**True**</font>.

Exercise 1.

In [ ]:
('Estonia' in NATO) ? ('Atlantis' in NATO)

In [23]:
## INSTRUCTION SOLUTION(S) ##
('Estonia' in NATO) or ('Atlantis' in NATO)

True

Exercise 2.

In [ ]:
100 ? 55

In [24]:
## INSTRUCTION SOLUTION(S) ##
100 > 55

True

Exercise 3.

In [ ]:
'Russia' ? NATO

In [25]:
## INSTRUCTION SOLUTION(S) ##
'Russia' not in NATO

True

Exercise 4.

In [ ]:
78 ? 73

In [26]:
## INSTRUCTION SOLUTION(S) ##
78 != 73

True

<a id='Keywords'></a>
### 8.4.2. Reserved Python Keywords

There are words within Python that have specific use cases and cannot be used as variable names. These words show up <b><font color="green">green</font></b> and bold in Jupyter Notebook code cells. Run the following cell to output a list of all of Python's reserved keywords. Look through the list and define in your own words any keyword you've learned in this class.

In [27]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

***
#### 8.4.2.1. Built-In Functions

You will also notice that some words show up as <font color="green">light green</font> (as opposed to keywords' <b><font color="green">bold green</font></b>). These words are built-in functions, functions that come pre-packaged for you to use with Python. Unlike reserved words, Python will let you re-assign built-in function names as variables or names of custom functions that you define. But a word of warning: just because you can overwrite these function names doesn't mean you should! 

Beginning programmers should never overwrite built-in function names. Once you re-assign the function's name to something else, you have lost the ability to use that function, which is bad because these functions are fundamental to some core Python capabilities. Moreover, errors stemming from accidental overwrites of Python functions can be very hard to debug. Here are some built-in functions you are already familiar with. Do you remember what they do?
```python
print()
type()
max()
min()
int()
list()
dict()
str()
```

The cell below is an example of what you shouldn't do. We assign the string `'dog'` to a variable called `print`. Python allows us to do this, but we then lose the functionality of `print()`. This causes an error every time we try to use `print()` to print something to the screen. If you run the cell below, restart your kernel before moving on.

In [ ]:
print = 'dog'
print('cat')

NOTE: You must restart the kernel after running this code to regain the use of `print()`.

***
<a class="anchor" id="numbers"></a>
### 8.4.3. Numbers (Integers and Floating-Point)

The difference between integers and floats is the decimal. The decimal point is also called a floating point, hence the name "float." Python treats all numbers that contain a decimal as floats, even if the number is equivalent to an integer value, such as `2.0`. But an equality test between an integer and its float equivalent will return `True`, as shown in the example below.

In [28]:
2 == 2.0

True

However, Python still recognizes them as different types.

In [29]:
type(2) == type(2.0)

False

Doing mathematical operations with integers and floats returns a float as the result.

In [30]:
4 + 4.0 + 10

18.0

#### 8.4.3.1. Arithmetic Operators

| Operator  | Operation                            |
| :-------: | :----------------------------------- |
| `+`         | addition                             |
| `-`         | subtraction                          |
| `/`         | division                             |
| `*`         | multiplication                       |
| `//`        | floor division                       |
| `%`         | modulus - returns only the remainder |
| `**`        | exponent                             |

Examples of calling the exponent operator:

In [31]:
3 ** 3

27

In [32]:
2 ** 10

1024

In [33]:
25 ** 0.5

5.0

Examples of calling the modulus operator:

In [34]:
17 % 4

1

In [35]:
16 % 7

2

In [36]:
248 % 2

0

Examples of floor division:

In [37]:
17 // 4

4

In [38]:
5 // 2

2

In [39]:
-5 // 2

-3

***
#### 8.4.3.2. Assignment Operators

Assignment operators combine arithmetic and assignment into a single statement.

| Operator  | Operation                            |
| :-------: | :----------------------------------- |
| `=`         | assignment                           |
| `+=`        | add right operand to the left operand and assign the result to left operand |
| `-=`        | subtract right operand from the left operand and assign the result to left operand |
| `*=`        | multiply right operand and the left operand and assign the result to left operand |
| `/=`        | divide left operand by right operand and assign the result to left operand |
| `%=`        | take left operand modulo right operand and assign the result to left operand |
| `**=`       | raise left operand to the power of right operand and assign value to the left operand |
| `//=`       | floor divide left operand by right operand and assign value to the left operand |

Examples of assignment operators:

In [40]:
number = 4
number

4

In [41]:
number += 5
number

9

In [42]:
number *= 3
number

27

#### 8.4.3.3. Casting
String representations of integers and floating-point numbers can be converted to integers and floats using the built-in `int()` and `float()` functions.  Using these functions to change the data type of something is called casting.  Casting is very helpful when you get data where numbers are formatted as strings. Each data type has its own functions for casting data objects. See what happens when you try to do arithmetic with a string:

In [43]:
'11.186' + 2

TypeError: Can't convert 'int' object to str implicitly

To avoid this error, we can cast our string to a float and then do the arithmetic:

In [44]:
float('11.186') + 2

13.186

##### 8.4.3.3.1. Casting Exercises
In the code cells below, replace the `???`'s with casting functions to make the code run without errors.

Exercise 1.

In [ ]:
7 ** ???('2')

In [45]:
## INSTRUCTION SOLUTION(S) ##
7 ** int('2')

49

Exercise 2.

In [ ]:
print("My team has won " + ???(20) + " awards collectively.")

In [46]:
## INSTRUCTION SOLUTION(S) ##
print("My team has won " + str(20) + " awards collectively.")

My team has won 20 awards collectively.

Exercise 3.

In [ ]:
PI = '3.14159'
int(???(PI) * 100) / 100

In [47]:
## INSTRUCTION SOLUTION(S) ##
PI = '3.14159'
int(float(PI) * 100) / 100

3.14

Exercise 4.

In [ ]:
my_num = 654321
print("The first three digits in my_num are " + ???(my_num)[:3])

In [48]:
## INSTRUCTION SOLUTION(S) ##
my_num = 654321
print("The first three digits in my_num are " + str(my_num)[:3])

The first three digits in my_num are 654

<a id="none"></a>
### 8.4.4. None

The <b><font color="green">None</font></b> data type is used to denote the absence of data. It's used as a placeholder for empty cells in a table or a variable that doesn't hold anything yet.

In [49]:
type(None)

NoneType

One helpful note about the <b><font color="green">None</font></b> data type is that when cast to a Boolean it evaluates to `False`

In [50]:
bool(None)

False

<hr>
<a id="Structures"></a>
## 8.5. Python Data Structures
<a id="Sequences"></a>
### 8.5.1. Sequences: Lists, Tuples, Strings

A sequence is an ordered grouping of elements.  Each element of a sequence is assigned a number which is its position or index. The first index in a sequence is `[0]`; the second index is `[1]`; and so forth.

Let's look at a very basic sequence: the string `'Hello!'`

<img src="./GRAPHICS/arrayIndex.png" width="50%"><br>

While Python has six types of sequences, this course will only be covering lists, tuples, and strings.

#### 8.5.1.1. Sequences: Lists

Lists are containers for holding objects in order. Lists are mutable and allow you to add, remove, and overwrite individual elements. Lists are always wrapped in square brackets: `[]`.

Lists can be initialized several ways in a Python script:

| Code | Action |
|:----------------------------|:--------------------------------------------------|
| `list1 = list( )`                  | Initializes an empty list |
| `list2 = []`                      | Initializes an empty list |
|` list3 = [1, 'a', 3.1415] `         | Initializes a list with multiple elements |

Data in lists can be accessed via indexing or slicing:

| Code                 | Action                          |
|:--------------------|------------------------------|
| `list3[0]`                        | Indexes a list |
| `list3[1:2]`                      | Slices a list |

Here is a table of some useful list methods:

| Code                 | Action                          |
|:--------------------------------|------------------------------|
|`list_variable.append(x)`         | Appends `x` to the end of the list |
|`list_variable.extend(my_list)`   | Appends each element of `my_list` to the list |
|`list_variable.insert(i,x)`       | Inserts `x` at index `i` in the list |
|`list_variable.remove(x)`         | Removes the first appearance of `x` in the list |
|`list_variable.pop(i)`            | Removes the item at index `i` in the list and returns that value |
|`list_variable.index(x)`          | Returns the index where `x` first appears in the list; <br>throws an error if `x` is not contained in the list  |
|`list_variable.count(x)`          | Counts the number of times `x` appears in the list |
|`list_variable.sort(cmp=None, reverse=False)`            | Sorts the order of the list |
|`list_variable.reverse()`         | Reverses the order of the list |

Start by initializing a list.

In [51]:
grocery_list = ['apples', 'ice cream', 'yogurt']

Append `'walnuts'` to the list:

In [52]:
grocery_list.append('walnuts')
grocery_list

['apples', 'ice cream', 'yogurt', 'walnuts']

Reverse the list:

In [53]:
grocery_list.reverse()
grocery_list

['walnuts', 'yogurt', 'ice cream', 'apples']

Remove the last item from the list and save that item to a variable:

In [54]:
apples = grocery_list.pop()
print(apples)
print(grocery_list)

apples
['walnuts', 'yogurt', 'ice cream']

Create a new grocery list and append each item to your grocery list:

In [55]:
new_grocery_list = ['margarita mix', 'tequila', 'limes']

grocery_list.extend(new_grocery_list)
grocery_list

['walnuts', 'yogurt', 'ice cream', 'margarita mix', 'tequila', 'limes']

You can also add two lists together, which does the same thing as `.extend()`.

In [56]:
taco_night_grocery_list = ['taco shells', 'beef', 'cheese', 'salsa', 'chips']

grocery_list + taco_night_grocery_list

['walnuts',
 'yogurt',
 'ice cream',
 'margarita mix',
 'tequila',
 'limes',
 'taco shells',
 'beef',
 'cheese',
 'salsa',
 'chips']

<hr>
##### 8.5.1.1.1. List Exercises (Using a List of Courses)

Using the list provided, make the following changes.

In [57]:
courses2018 = ['Chemistry 237', 'Archery 101', 'Bowling 201', 'Computer Science 211', 'Geology 301']

Exercise 1. Remove `'Archery 101'` from the course list.

In [58]:
## YOUR CODE GOES HERE ##

In [59]:
## INSTRUCTION SOLUTION(S) ##
courses2018.remove('Archery 101')
courses2018

['Chemistry 237', 'Bowling 201', 'Computer Science 211', 'Geology 301']

Exercise 2. Add `'Physics 202'` to the list.

In [60]:
## YOUR CODE GOES HERE ##

In [61]:
## INSTRUCTION SOLUTION(S) ##
courses2018.append('Physics 202')
courses2018

['Chemistry 237',
 'Bowling 201',
 'Computer Science 211',
 'Geology 301',
 'Physics 202']

Exercise 3. Add each of the following classes to the `courses2018` list: `['Wine Tasting 101', 'Geometry 204']`.

In [62]:
## YOUR CODE GOES HERE ##

In [63]:
## INSTRUCTION SOLUTION(S) ##
courses2018.extend(['Wine Tasting 101', 'Geometry 204'])
courses2018

['Chemistry 237',
 'Bowling 201',
 'Computer Science 211',
 'Geology 301',
 'Physics 202',
 'Wine Tasting 101',
 'Geometry 204']

Exercise 4. Sort the list alphabetically, descending (Z-A).

In [64]:
courses2018 = ['Chemistry 237', 'Archery 101', 'Bowling 201', 'Computer Science 211', 'Geology 301']

In [65]:
## YOUR CODE GOES HERE ##

In [66]:
## INSTRUCTION SOLUTION(S) ##

courses2018.sort(reverse=True)
courses2018

['Geology 301',
 'Computer Science 211',
 'Chemistry 237',
 'Bowling 201',
 'Archery 101']

<hr>
##### 8.5.1.1.2. List Exercises (Using a List of Numbers)

Using the list provided, make the following changes using Python:

In [67]:
num_list = [68, 5, 76, 81, 19, 33, 8, 26, 84, 47, 43, 25, 61, 22, 27]

Exercise 1. Count the number of items in the list (using code, not your fingers!).

In [68]:
## YOUR CODE GOES HERE ##

In [69]:
## INSTRUCTION SOLUTION(S) ##
len(num_list)

15

Exercise 2. Move the first item in the list to the end of the list.

In [70]:
## YOUR CODE GOES HERE ##

In [71]:
## INSTRUCTION SOLUTION(S) ##
num_list.append(num_list.pop(0))
num_list

[5, 76, 81, 19, 33, 8, 26, 84, 47, 43, 25, 61, 22, 27, 68]

Exercise 3. Find the maximum value in the list using the built-in `max()` function.

In [72]:
## YOUR CODE GOES HERE ##

In [73]:
## INSTRUCTION SOLUTION(S) ##
max(num_list)

84

Exercise 4. Find the maximum value in the list by sorting the list and then grabbing the last element.

In [74]:
## YOUR CODE GOES HERE ##

In [75]:
## INSTRUCTION SOLUTION(S) ##
sorted(num_list)[-1]

84

<hr>
#### 8.5.1.3. Sequences: Tuples

Tuples are Python sequences similar to lists except that they are immutable, meaning their individual elements cannot be changed. Tuples are always wrapped in parentheses: `()`.

Tuple can be initialized a number of ways:

| Code                        | Action                                           | 
|-----------------------------|--------------------------------------------------|
|`temp_tuple = ()`               | Initializes an empty tuple |
|`temp_tuple1 = (1,)`            | Initializes a tuple with one element |
|`temp_tuple2 = (1, 'a', 3.1415)`  | Initializes a tuple with multiple elements |

Data in tuples can be accessed via indexing or unpacking (multiple assignments):

|Code                           |Action                  |
|-------------------------------|------------------------|
|`temp_tuple2[0]`                  | Indexing a tuple |
|`x, y, z = temp_tuple2`             | Multiple assignment |

To illustrate the difference between tuples and lists, let's initialize and tuple and a list with the same elements, and try to edit the same item.

In [76]:
multi_element_tuple = ('Monday','Tuesday','Wednesday','Thursday','Friday') 
multi_element_list = ['Monday','Tuesday','Wednesday','Thursday','Friday']

You can change an element within a list.

In [77]:
multi_element_list[0] = 'Lunes'
multi_element_list

['Lunes', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

But you cannot change an element within a tuple.

In [78]:
multi_element_tuple[0]  = 'Lunes'
multi_element_tuple

TypeError: 'tuple' object does not support item assignment

***
##### 8.5.1.2.1. Tuples Exercise
Using bracket notation, extract the third element from within the third-to-last element of the following tuple:

In [79]:
my_tuple = ((13, 2, 60, 6),
             (54, 0, 20, 37),
             (65, 62, 9, 49),
             (18, 69, 8, 54),
             (55, 52, 22, 53),
             (62, 57, 75, 20))

In [80]:
## YOUR CODE GOES HERE ##

In [81]:
## INSTRUCTION SOLUTION(S) ##
my_tuple[-3][2]

8

<hr>
#### 8.5.1.3. Sequences: Strings

Strings are immutable sequences of zero or more characters. In Python 3, strings can include extended character sets such as Unicode. Example Unicode characters are shown below:

| Type of Characters    | Unicode Characters |
|:----------------------:|:------------------------------------------------:|
| Foreign Languages     | ` 片仮名, カタカナ    فارسی    राष्ट्र सेवकोत्तम `  |
| Emoji                 | ` ✈️    ⛄️    🦄    🐐 `|
| Symbols               | ` ∑     ∆    √     ⊠ `|

Strings are always wrapped in quotation marks. We can use single quotes (`''`), double quotes (`""`), or three sets of quotation marks often called triple quotes (`""" """`).

```python
unicode_str = u'🦄'
string_a = ''
string_b = ""

string_3 = """Oh, tú, tú eres el imán y yo soy el metal
              Me voy acercando y voy armando el plan
              Sólo con pensarlo se acelera el pulso
              Oh, yeah Ya, ya me está gustando más de lo normal
              Todos mis sentidos van pidiendo más
              Esto hay que tomarlo sin ningún apuro"""
```

<hr>
##### 8.5.1.3.1. String Methods and Operations
There are a number of string methods and operations that can be applied to manipulate strings.

| Code                             |                                                                                  |
|----------------------------------|----------------------------------------------------------------------------------|
|`string_pi = str(3.1415) `           | Converts other data types to string data type |
|`string_a + string_b`                | Concatenation: appends `string_b` to `string_a` |
|`string_pi * 3  `                    | Repeats the string 3 times |
|`string_pi[i] `                  | String indexing |
|`string_pi[begin_index:end_index]`   | String slicing |
|`string_variable.upper()`           | Converts all of the alpha characters to uppercase |
|`string_variable.lower()`           | Converts all of the alpha characters to lowercase |
|`string_variable.title()`           | Converts a string to title case in which the first letter of each word is <br>  capitalized and the remaining letters are lowercase |
|`string_variable.strip()`           | Removes leading and trailing whitespace from a string |
|`string_variable.split(sub_string)` | Splits a string using `sub_string` as a delimiter; returns a list <br>of string fragments |
|`string_variable.replace(sub_string, replacement_string)` | Replaces all occurences of `sub_string` with <br>the `replacement_string` |
|`string_variable.zfill(integer)`    | Pads the string with zeros to a string length specified by the <br>`integer` parameter |
|`string.find(sub_string)`           | Searches a string for `sub_string`, returns the index location of <br>first character of substring (or -1 if `sub_string` is not found) |
                            
Below, we demonstrate some of the things you can do with strings.

In [82]:
string_variable = '   Hello World   '

Convert all the characters to uppercase.

In [83]:
string_variable.upper()

'   HELLO WORLD   '

Convert all the characters to lowercase.

In [84]:
string_variable.lower()

'   hello world   '

Convert the string to title case.

In [85]:
string_variable.title()

'   Hello World   '

Remove the leading and trailing white space from the string.

In [86]:
string_variable.strip()

'Hello World'

Split the words in the string.

In [87]:
string_variable.split()

['Hello', 'World']

<hr>
##### 8.5.1.3.2. String Exercises

Exercise 1. Write a Python program to make a new string from a given string where all occurrences of the first character have been changed to `'$'`, except the first character itself.     

| Example Input | Expected Output |
|:---------:|:----------:|
| `restart` | `resta$t` |
| `pineapple` | `pinea$$le` |

HINT: Use slicing and replace.

In [88]:
## YOUR CODE GOES HERE ##

In [89]:
## INSTRUCTION SOLUTION(S) ##
input_string = 'restart'

output_string = input_string[0] + input_string[1:].replace(input_string[0], '$')
output_string

'resta$t'

Exercise 2. Write a Python program to get a single string from two given strings, separated by a space, and swap the first two characters of each string.

| Example Input | Expected Output |
|:---------:|:----------:|
| `s1, s2 = 'abc', 'xyz'` | `'xyc abz'` |
| `s1, s2 = 'magic', 'carpet'` | `'cagic marpet'` |

HINT: Try using slicing.

In [90]:
## YOUR CODE GOES HERE ##

In [91]:
## INSTRUCTION SOLUTION(S) ##
s1, s2 = 'abc', 'xyz'

output_string = s2[:2] + s1[2:] + ' ' + s1[:2] + s2[2:]
output_string

'xyc abz'

<hr>
#### 8.5.1.4. Common Operations Across Sequences

There are certain things you can do with all sequence types. These operations include indexing, slicing, adding, multiplying, and checking for membership. In addition, Python has built-in functions for finding the length of a sequence and for finding its largest and smallest elements.

`max()` returns the maximum value contained in the sequence.

>Example: `max([1, 2, 3, 4, 5])` 

`min()` returns the minimum value contained in the sequence.

>Example: `min([1, 2, 3, 4, 5])` 

`len()` returns the length of the sequence as an integer.

>Example: `len([1, 2, 3, 4, 5])`

`sorted()` sorts the order of the sequence.

>Example: `sorted([3, 5, 1, 4, 2])`

Let's get some practice with these. First, initialize a string, a list, and a tuple.

In [92]:
sample_string = 'four score and seven years ago'
sample_list = [4, 20, 7]
sample_tuple = ('Abe', 1863)

Print the maximum value in the string and the list.

In [93]:
print(max(sample_string))
print(max(sample_list))

y
20

Print the length of the string, list, and tuple.

In [94]:
print(len(sample_string))
print(len(sample_list))
print(len(sample_tuple))

30
3
2

Sort the characters that appear in the string.

In [95]:
sorted(sample_string)

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'a',
 'a',
 'a',
 'c',
 'd',
 'e',
 'e',
 'e',
 'e',
 'f',
 'g',
 'n',
 'n',
 'o',
 'o',
 'o',
 'r',
 'r',
 'r',
 's',
 's',
 's',
 'u',
 'v',
 'y']

Sort the list.

In [96]:
sorted(sample_list)

[4, 7, 20]

<a id="sets"></a>
### 8.5.2. Sets

Python sets are mutable, unordered collections of unique elements. They are not considered sequences and do not support indexing or slicing. Sets also do not allow duplicate elements and will automatically deduplicate themselves, retaining only one instance of each unique value. Basic uses for sets include membership testing and deduplication of other sequences. Sets also support mathematical operations like union, intersection, difference, and symmetric difference. 

Sets are always wrapped in curly braces: `{}`

| Code                    | Action                                     |
|-------------------------|--------------------------------------------|
|`set1 = set()`              | Initializes an empty set |
|`set3 = {1, 'a', 3.1415}`     | Initializes a set with multiple elements |

To add or remove elements to or from a set, use the `.add()` or `.remove()` methods.

| Code                    | Action                                     |
|-------------------------|--------------------------------------------|
|`set2.add(x)`       | Adds the value stored in `x` to `set2` |
|`set2.remove(x)`       | Removes the value stored in `x` from `set2` |

Membership testing with sets:

| Code                    | Action                                     |
|-------------------------|--------------------------------------------|
|`x in set2`                 | Asks is `x` in `set2`? |

Mathematical operations with sets:

| Code                    | Action                                     |
|-------------------------|--------------------------------------------|
|`set1 - set2   `               | Values in `set1` but not in `set2`|
|`set1 ` &#124; ` set2    `              | Values in either `set1` or `set2` |
|`set1 & set2   `               | Values in both `set1` and `set2` |
|`set1 ^ set2   `               | Values in `set1` or `set2` but not both  |

<b><font color="firebrick">Instructor Guidance</font>: Work through any questions about Python sets in the code cells below. Be sure to demonstrate the initialization of an empty set below.</b>

To demonstrate these capabilities, first initialize values into two sets. Both sets contain geocoordinates as tuples. Use set math to compare them.

In [97]:
set1 = {(40.3359, -73.8519), (40.1395, -73.1847), (40.9018, -73.6472), (41.3114, -74.9317), (40.0574, -73.7093), (40.3283, -73.5393), (41.4963, -74.7807), (41.306, -74.1903), (41.3009, -74.3318), (41.0859, -74.1065), (41.476, -74.8781), (41.4132, -74.4966), (41.5069, -74.9362), (40.7464, -73.3113), (39.9643, -74.2852), (40.2784, -74.4275), (40.1685, -74.4684), (40.6913, -74.7727), (40.9869, -74.3098), (40.5029, -74.1455), (39.7886, -73.7916), (41.3454, -73.0848), (41.0134, -73.5366), (41.1706, -73.6227), (39.9752, -73.6027)}
set2 = {(40.7464, -73.3113), (40.4534, -73.5302), (40.1395, -73.1847), (40.9401, -73.6553), (40.9985, -73.1145), (40.3359, -73.8519), (41.5069, -74.9362), (41.3114, -74.9317), (41.2716, -74.7067), (41.0532, -74.9857), (41.1434, -74.6219), (41.2259, -74.3201), (41.55, -74.9327), (41.4962, -74.5411), (39.8443, -74.0483), (39.9222, -74.5679), (40.506, -74.1934), (40.2784, -74.4275), (40.5449, -73.5188), (40.1014, -74.3324), (40.7861, -74.7268), (41.3841, -73.2179), (41.1719, -73.7924), (41.3193, -73.9454), (39.7886, -73.7916)}

Show values in `set1` that are not in `set2`.

In [98]:
set1 - set2

{(39.9643, -74.2852),
 (39.9752, -73.6027),
 (40.0574, -73.7093),
 (40.1685, -74.4684),
 (40.3283, -73.5393),
 (40.5029, -74.1455),
 (40.6913, -74.7727),
 (40.9018, -73.6472),
 (40.9869, -74.3098),
 (41.0134, -73.5366),
 (41.0859, -74.1065),
 (41.1706, -73.6227),
 (41.3009, -74.3318),
 (41.306, -74.1903),
 (41.3454, -73.0848),
 (41.4132, -74.4966),
 (41.476, -74.8781),
 (41.4963, -74.7807)}

Show values in either `set1` or `set2`.

In [99]:
set1 | set2

{(39.7886, -73.7916),
 (39.8443, -74.0483),
 (39.9222, -74.5679),
 (39.9643, -74.2852),
 (39.9752, -73.6027),
 (40.0574, -73.7093),
 (40.1014, -74.3324),
 (40.1395, -73.1847),
 (40.1685, -74.4684),
 (40.2784, -74.4275),
 (40.3283, -73.5393),
 (40.3359, -73.8519),
 (40.4534, -73.5302),
 (40.5029, -74.1455),
 (40.506, -74.1934),
 (40.5449, -73.5188),
 (40.6913, -74.7727),
 (40.7464, -73.3113),
 (40.7861, -74.7268),
 (40.9018, -73.6472),
 (40.9401, -73.6553),
 (40.9869, -74.3098),
 (40.9985, -73.1145),
 (41.0134, -73.5366),
 (41.0532, -74.9857),
 (41.0859, -74.1065),
 (41.1434, -74.6219),
 (41.1706, -73.6227),
 (41.1719, -73.7924),
 (41.2259, -74.3201),
 (41.2716, -74.7067),
 (41.3009, -74.3318),
 (41.306, -74.1903),
 (41.3114, -74.9317),
 (41.3193, -73.9454),
 (41.3454, -73.0848),
 (41.3841, -73.2179),
 (41.4132, -74.4966),
 (41.476, -74.8781),
 (41.4962, -74.5411),
 (41.4963, -74.7807),
 (41.5069, -74.9362),
 (41.55, -74.9327)}

Show the elements that belong to both sets.

In [100]:
set1 & set2

{(39.7886, -73.7916),
 (40.1395, -73.1847),
 (40.2784, -74.4275),
 (40.3359, -73.8519),
 (40.7464, -73.3113),
 (41.3114, -74.9317),
 (41.5069, -74.9362)}

Show values in `set1` or `set2`, but not both.

In [101]:
set1 ^ set2

{(39.8443, -74.0483),
 (39.9222, -74.5679),
 (39.9643, -74.2852),
 (39.9752, -73.6027),
 (40.0574, -73.7093),
 (40.1014, -74.3324),
 (40.1685, -74.4684),
 (40.3283, -73.5393),
 (40.4534, -73.5302),
 (40.5029, -74.1455),
 (40.506, -74.1934),
 (40.5449, -73.5188),
 (40.6913, -74.7727),
 (40.7861, -74.7268),
 (40.9018, -73.6472),
 (40.9401, -73.6553),
 (40.9869, -74.3098),
 (40.9985, -73.1145),
 (41.0134, -73.5366),
 (41.0532, -74.9857),
 (41.0859, -74.1065),
 (41.1434, -74.6219),
 (41.1706, -73.6227),
 (41.1719, -73.7924),
 (41.2259, -74.3201),
 (41.2716, -74.7067),
 (41.3009, -74.3318),
 (41.306, -74.1903),
 (41.3193, -73.9454),
 (41.3454, -73.0848),
 (41.3841, -73.2179),
 (41.4132, -74.4966),
 (41.476, -74.8781),
 (41.4962, -74.5411),
 (41.4963, -74.7807),
 (41.55, -74.9327)}

<hr> <a id="dictionaries"></a>
### 8.5.3. Dictionaries

Dictionaries are collections of key-value pairs. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type. Strings and numbers can always be keys. The values in a dictionary can be any data type or data structure.

Dictionaries share many properties with sets:
* Both sets and dictionaries are unordered
* Both sets and dictionaries are wrapped in curly braces
* Sets must have unique entries, dictionaries must have unique keys                               

There are three dictionary methods we covered in this class.

| Code                    | Action                                     |
|-------------------------|--------------------------------------------|
|`.keys()`     | Returns a collection of the dictionary keys |
|`.values()`   | Returns a collection of the dictionary values |
|`.items()`    | Returns a collection of tuples of key-value pairs <br>that can be unpacked using multiple assignments |

There are a number of ways to iterate through a dictionary, but using `.items()` is usually the easiest.

```python
for key, value in dict_object.items(): 
    do_something_with(key)
    do_something_with(value)
```   
<hr>

<b><font color="firebrick">Instructor Guidance</font>: Work through any questions about Python dictionaries in the code cells below.</b>

Initialize a dictionary to get some practice.

In [102]:
inventory = {'apples': 430, 
             'bananas': 312, 
             'oranges': 525, 
             'pears': 217}

Show the dictionary keys.

In [103]:
inventory.keys()

dict_keys(['pears', 'oranges', 'apples', 'bananas'])

Print the current stock for bananas.

In [104]:
inventory['bananas']

312

Add `'avocados'` to your dictionary with a value of `543`.

In [105]:
inventory['avocados'] = 543
inventory

{'apples': 430, 'avocados': 543, 'bananas': 312, 'oranges': 525, 'pears': 217}

Edit the value of `'oranges'` by subtracting `83` from the current value.

In [106]:
inventory['oranges'] -= 83
inventory

{'apples': 430, 'avocados': 543, 'bananas': 312, 'oranges': 442, 'pears': 217}

Delete `'pears'` from your dictionary.

In [107]:
del inventory['pears']
inventory

{'apples': 430, 'avocados': 543, 'bananas': 312, 'oranges': 442}

<hr>
#### 8.5.3.1. Dictionary Exercises

Using the provided dictionary, let's make some changes.

In [108]:
grocery_prices = {'Eggs': 2.59,
                  'Milk': 3.19,
                  'Cheese': {'American': 4.80,
                             'Swiss': 4.11,
                             'Cheddar': 3.59
                            },
                  'Yogurt': {'Regular': 2.35,
                             'Sale': 1.11
                            },
                  'Butter': 2.59
                 }

Exercise 1. Egg prices have dropped. Let's change the price of `'Eggs'` to `1.99`.

In [109]:
## YOUR CODE GOES HERE ##

In [110]:
## INSTRUCTION SOLUTION(S) ##
grocery_prices['Eggs'] = 1.99
grocery_prices

{'Butter': 2.59,
 'Cheese': {'American': 4.8, 'Cheddar': 3.59, 'Swiss': 4.11},
 'Eggs': 1.99,
 'Milk': 3.19,
 'Yogurt': {'Regular': 2.35, 'Sale': 1.11}}

Exercise 2. Change the `'Sale'` price of `'Yogurt'` to `1.49`.

In [111]:
## YOUR CODE GOES HERE ##

In [112]:
## INSTRUCTION SOLUTION(S) ##
grocery_prices['Yogurt']['Sale'] = 1.49
grocery_prices

{'Butter': 2.59,
 'Cheese': {'American': 4.8, 'Cheddar': 3.59, 'Swiss': 4.11},
 'Eggs': 1.99,
 'Milk': 3.19,
 'Yogurt': {'Regular': 2.35, 'Sale': 1.49}}

Exercise 3. Add `'Honey'` to our dictionary, with the price of `3.49`.

In [113]:
## YOUR CODE GOES HERE ##

In [114]:
## INSTRUCTION SOLUTION(S) ##
grocery_prices['Honey'] = 3.49
grocery_prices

{'Butter': 2.59,
 'Cheese': {'American': 4.8, 'Cheddar': 3.59, 'Swiss': 4.11},
 'Eggs': 1.99,
 'Honey': 3.49,
 'Milk': 3.19,
 'Yogurt': {'Regular': 2.35, 'Sale': 1.49}}

Exercise 4. We recently lost our butter supplier. Remove `'Butter'` from our dictionary.

In [115]:
## YOUR CODE GOES HERE ##

In [116]:
## INSTRUCTION SOLUTION(S) ##
del grocery_prices['Butter']
grocery_prices

{'Cheese': {'American': 4.8, 'Cheddar': 3.59, 'Swiss': 4.11},
 'Eggs': 1.99,
 'Honey': 3.49,
 'Milk': 3.19,
 'Yogurt': {'Regular': 2.35, 'Sale': 1.49}}

Exercise 5. Add `'Lobster'` to our dictionary with the value `'Market Price'`.

In [117]:
## YOUR CODE GOES HERE ##

In [118]:
## INSTRUCTION SOLUTION(S) ##
grocery_prices['Lobster'] = 'Market Price'
grocery_prices

{'Cheese': {'American': 4.8, 'Cheddar': 3.59, 'Swiss': 4.11},
 'Eggs': 1.99,
 'Honey': 3.49,
 'Lobster': 'Market Price',
 'Milk': 3.19,
 'Yogurt': {'Regular': 2.35, 'Sale': 1.49}}

Exercise 6. We found that Swiss cheese is not selling. Remove `'Swiss'` cheese from our dictionary.

In [119]:
## YOUR CODE GOES HERE ##

In [120]:
## INSTRUCTION SOLUTION(S) ##
del grocery_prices['Cheese']['Swiss']
grocery_prices

{'Cheese': {'American': 4.8, 'Cheddar': 3.59},
 'Eggs': 1.99,
 'Honey': 3.49,
 'Lobster': 'Market Price',
 'Milk': 3.19,
 'Yogurt': {'Regular': 2.35, 'Sale': 1.49}}

<hr> <a id="codeflow"></a>
## 8.6. Flow Control

<a id="if"></a>
### 8.6.1. If Statements

The <font color=green>**if**</font> statement is used for conditional execution. Here's the basic structure of an <font color=green>**if**</font> block.
```python
if boolean_test_expression:
    do_something()
elif second_boolean_test_expression:
    do_something_else()
else:
    do_a_third_thing()
```

Let's look at a simple example. The below code checks the value of `stock_price` and prints a message depending on its value.

In [121]:
stock_price = 14000

if stock_price > 20000:
    print('SELL!')
    
elif stock_price < 15000:
    print('BUY!')
    
else:
    print('Do Nothing.')

BUY!

We can add as many `elif` statements as we want to an `if` block. But remember, only one clause in an `if` block will execute. When a clause evaluates to `True` and its code is run, all subsequent clauses are skipped.

In [122]:
grade = 86

if 60 <= grade < 70:
    print('Student got a D')
    
elif 70 <= grade < 80:
    print('Student got a C')
    
elif 80 <= grade < 90:
    print('Student got a B')
    
elif grade >= 90:
    print('Student got a A')
    
else:
    print('Student did not pass')

Student got a B

In [123]:
## Try some code ideas here ##

#### 8.6.1.1 Flow Control Exercise

Create an <b><font color="green">if</font></b> block (using <b><font color="green">if</font></b>, <b><font color="green">elif</font></b>, and/or <b><font color="green">else</font></b> statements as needed) that will evaluate as follows:

 |Variable Values|Print|
 |:-------------:|:----:|
 | "sunny" and "weekday"| "Have lunch outside."|
 | "rainy" and "weekday"| "Sigh and eat at your desk."|
 | "sunny" and "weekend"| "Go on a hike."|
 | "rainy" and "weekend"| "Play board games with friends."|
 | any other weather and "weekday"| "Go to work."|
 | any other weather and "weekend"| "Stay home and read."|

In [124]:
## YOUR CODE GOES HERE ##

In [125]:
## INSTRUCTION SOLUTION(S) ##
weather = 'sunny'
day_of_week = 'weekday'

if weather.lower() == 'sunny':
    
    if day_of_week.lower() == 'weekday':
        print('Have lunch outside.')
    elif day_of_week.lower() == 'weekend':
        print('Go on a hike.')
    else:
        print('Invalid input...')
        
elif weather.lower() == 'rainy':
    
    if day_of_week.lower() == 'weekday':
        print('Sigh and eat at your desk.')
    elif day_of_week.lower() == 'weekend':
        print('Play board games with friends.')
    else:
        print('Invalid input...')
        
else:
    if day_of_week.lower() == 'weekday':
        print('Go to work.')
    elif day_of_week.lower() == 'weekend':
        print('Stay home and read.')
    else:
        print('Invalid input...')

Have lunch outside.

<hr> <a id="for"></a>
### 8.6.2. For Loops

The <font color=green>**for**</font> statement allows you to iterate over the elements of a sequence (such as a string, tuple or list) or other collection like a dictionary. The basic structure of a <font color=green>**for**</font> loop is below.
```python
for item in collection_of_items:
    do_something()
```

See the simple example below. We begin with a list of strings, then loop over each string and print it five times.

In [126]:
letter_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

for letter in letter_list:
    print(letter.lower() * 5)

aaaaa
bbbbb
ccccc
ddddd
eeeee
fffff
ggggg
hhhhh
iiiii
jjjjj
kkkkk
lllll
mmmmm
nnnnn
ooooo
ppppp
qqqqq
rrrrr
sssss
ttttt
uuuuu
vvvvv
wwwww
xxxxx
yyyyy
zzzzz

In [127]:
## Try some code ideas here ##

#### 8.6.2.1 For Loops Exercises
Exercise 1. Write a <b><font color="green">for</font></b> loop that will iterate through the list of letters below and print only the vowels.

In [128]:
letter_list = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [129]:
## YOUR CODE GOES HERE ##

In [130]:
## INSTRUCTION SOLUTION(S) ##
vowels = ['A', 'E', 'I', 'O', 'U']

for letter in letter_list:
    
    if letter in vowels:
        print(letter)

A
E
I
O
U

Exercise 2. Create a <b><font color="green">for</font></b> loop that will print the names of animals from `my_animals` that eat `'Shrubbery'`.

In [131]:
my_animals = [{'Name': 'Giraffe', 'Weight': '2600', 'Diet': 'Shrubbery', 'Average Lifespan': '25'}, 
              {'Name': 'Moose', 'Weight': '1300', 'Diet': 'Shrubbery', 'Average Lifespan': '20'}, 
              {'Name': 'Giant Panda', 'Weight': '220', 'Diet': 'Bamboo', 'Average Lifespan': '20'}, 
              {'Name': 'Red Panda', 'Weight': '14', 'Diet': 'Bamboo', 'Average Lifespan': '14'}, 
              {'Name': 'Hippopotamus', 'Weight': '3800', 'Diet': 'Grass', 'Average Lifespan': '45'}, 
              {'Name': 'Lion', 'Weight': '400', 'Diet': 'Gazelle', 'Average Lifespan': '12'}, 
              {'Name': 'Tortoise', 'Weight': '100', 'Diet': 'Grass', 'Average Lifespan': '100'}]

In [132]:
## YOUR CODE GOES HERE ##

In [133]:
## INSTRUCTION SOLUTION(S) ##
for animal in my_animals:
    
    if animal['Diet'] == 'Shrubbery':
        print(animal['Name'])

Giraffe
Moose

<hr> <a id="while"></a>
### 8.6.3. While Loops

The <b><font color="green">while</font></b> loop repeats a statement or group of statements while a given Boolean test expression is <b><font color="green">True</font></b>. The <b><font color="green">while</font></b> loop tests the Boolean test expression before executing the loop body, as illustrated in the graphic.

<img src="./GRAPHICS/While_Loop.png" width="33%"><br>

The code below shows the basic template for a <b><font color="green">while</font></b> loop. Once the Boolean expression becomes <b><font color="green">False</font></b>, the loop is terminated.

```python
while boolean_expression:
    do_something()
```

Here's a simple example. We initialize our `count` variable as `0`. Then we jump into a `while` loop that checks if `count` is not equal to `10`. If that is true, our code prints the value of `count` to the screen and then increments `count` by `1`. Try to guess what the output will look like before running the cell below.

In [134]:
count = 0

while count != 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

Here's a more complicated example. Try to read the code below and guess what the output will be before running it.

In [135]:
count = 0
boolean_val = False

while boolean_val == False:
    
    if count == 10:
        boolean_val = True
        print('boolean_val: True.')
        
    else:
        count = count + 1
        print('boolean_val: False.')

boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: False.
boolean_val: True.

In [136]:
## Try some code ideas here ##

#### 8.6.3.1 While Loops Exercise

Given a list of numbers sorted in ascending order, count how many numbers in the list are less than `1000`.
```python
nums_list = [16, 46, 48, 50, 78, 94, 96, 105, 109, 110, 115, 141, 141, 152, 154, 155, 180, 195, 197, 206, 225, 235, 238, 262, 278, 283, 295, 304, 310, 322, 322, 334, 352, 357, 371, 383, 388, 392, 395, 404, 412, 419, 447, 465, 480, 485, 493, 506, 514, 519, 537, 539, 553, 555, 567, 572, 600, 612, 614, 614, 615, 629, 648, 652, 653, 660, 674, 695, 709, 710, 714, 729, 746, 763, 769, 783, 788, 793, 821, 832, 833, 843, 847, 863, 866, 875, 891, 899, 904, 915, 916, 926, 968, 969, 973, 980, 982, 986, 1003, 1017, 1037, 1041, 1048, 1052, 1065, 1071, 1073, 1090, 1096, 1105, 1124, 1142, 1148, 1155, 1157, 1160, 1187, 1198, 1207, 1210, 1229, 1252, 1257, 1258, 1267, 1272, 1272, 1289, 1309, 1319, 1321, 1330, 1352, 1352, 1363, 1371, 1384, 1393, 1401, 1422, 1435, 1439, 1446, 1447, 1454, 1486, 1492, 1495, 1505, 1509]
```
HINT: the answer is 98.

In [137]:
nums_list = [16, 46, 48, 50, 78, 94, 96, 105, 109, 110, 115, 141, 141, 152, 154, 155, 180, 195, 197, 206, 225, 235, 238, 262, 278, 283, 295, 304, 310, 322, 322, 334, 352, 357, 371, 383, 388, 392, 395, 404, 412, 419, 447, 465, 480, 485, 493, 506, 514, 519, 537, 539, 553, 555, 567, 572, 600, 612, 614, 614, 615, 629, 648, 652, 653, 660, 674, 695, 709, 710, 714, 729, 746, 763, 769, 783, 788, 793, 821, 832, 833, 843, 847, 863, 866, 875, 891, 899, 904, 915, 916, 926, 968, 969, 973, 980, 982, 986, 1003, 1017, 1037, 1041, 1048, 1052, 1065, 1071, 1073, 1090, 1096, 1105, 1124, 1142, 1148, 1155, 1157, 1160, 1187, 1198, 1207, 1210, 1229, 1252, 1257, 1258, 1267, 1272, 1272, 1289, 1309, 1319, 1321, 1330, 1352, 1352, 1363, 1371, 1384, 1393, 1401, 1422, 1435, 1439, 1446, 1447, 1454, 1486, 1492, 1495, 1505, 1509]

In [138]:
## YOUR CODE GOES HERE ##

In [139]:
## INSTRUCTION SOLUTION(S) ##

count = 0

for num in nums_list:
    
    if num < 1000:
        count += 1

count

98

<hr> <a id="break"></a>
### 8.6.4. Break and Continue

The <font color=green>**break**</font> statement in Python terminates the `for` or `while` loop that the <font color=green>**break**</font> statement is contained in, and resumes execution at the next statement in the script.

![](./GRAPHICS/break.png)

Another flow control statement is <font color=green>**continue**</font>. This statement tells Python to skip any code following it in the current loop, and begin the next loop iteration. This is useful if you want to bypass a certain item in your sequence, but don't want to exit the loop entirely.

![](./GRAPHICS/continue.png)

Let's take the same loop and insert a `break` and `continue` statement to demonstrate the difference between how they affect the code flow.

In [140]:
count = 10

while count > 0:
    count -= 1
    
    if count == 7:
        break
        
    print('count:', count)
    
print('Done!')

count: 9
count: 8
Done!

Note the difference in output between the above and below code cells. The `continue` command skips an iteration but does not exit the entire loop.

In [141]:
count = 10

while count > 0:
    count -= 1
    
    if count == 7:
        continue
        
    print('count:', count)
    
print('Done!')

count: 9
count: 8
count: 6
count: 5
count: 4
count: 3
count: 2
count: 1
count: 0
Done!

In [142]:
## Try some code ideas here ##

#### 8.6.4.1 Break and Continue Exercises

Exercise 1. Edit your code from the While Loop Exercise in the previous section. Add a `break` statement to halt the execution of your loop once you reach a number that is greater or equal to `1000`. (The series is increasing, there's no need to keep checking numbers after that.)

In [143]:
nums_list = [16, 46, 48, 50, 78, 94, 96, 105, 109, 110, 115, 141, 141, 152, 154, 155, 180, 195, 197, 206, 225, 235, 238, 262, 278, 283, 295, 304, 310, 322, 322, 334, 352, 357, 371, 383, 388, 392, 395, 404, 412, 419, 447, 465, 480, 485, 493, 506, 514, 519, 537, 539, 553, 555, 567, 572, 600, 612, 614, 614, 615, 629, 648, 652, 653, 660, 674, 695, 709, 710, 714, 729, 746, 763, 769, 783, 788, 793, 821, 832, 833, 843, 847, 863, 866, 875, 891, 899, 904, 915, 916, 926, 968, 969, 973, 980, 982, 986, 1003, 1017, 1037, 1041, 1048, 1052, 1065, 1071, 1073, 1090, 1096, 1105, 1124, 1142, 1148, 1155, 1157, 1160, 1187, 1198, 1207, 1210, 1229, 1252, 1257, 1258, 1267, 1272, 1272, 1289, 1309, 1319, 1321, 1330, 1352, 1352, 1363, 1371, 1384, 1393, 1401, 1422, 1435, 1439, 1446, 1447, 1454, 1486, 1492, 1495, 1505, 1509]

In [144]:
## YOUR CODE GOES HERE ##

In [145]:
## INSTRUCTION SOLUTION(S) ##
count = 0

for num in nums_list:
    
    if num < 1000:
        count += 1
        
    else:
        break

count

98

Exercise 2. You are given a list of codes that have a mix of alphabetical, numerical, and special characters. From this list, create a new list of only the codes where every character is alphabetical. Use `continue` to skip items that fail to meet the condition.
```python
codes_list = ['hQ ', '~$"', 'x%[', '#^l', 'N]\x0c', 'Yd\\', '.D>', '/{$', '_d]', '|0-', 'gmY', '+\\J', 'l@G', 'GOx', 'X"#', '1>G', 'P1#', 'f+0', 'tma', 'A<|', '-D]', '?u{', ' TW', '}.Q', 'K$E', '[8|', '~r+', '6@J', 'O=4', '{,]', '\t+w', 'z9!', 'NQh', ',H/', 'E5s', 'lgd', 'K\tk', '4Qd', '\nvd', "P.'"]

## Expected Output: `['gmY', 'GOx', 'tma', 'NQh', 'lgd']` ##
```
HINT: For each item in the list, use the string method `.isalpha()` to determine if every character is alphabetical.

In [146]:
codes_list = ['hQ ', '~$"', 'x%[', '#^l', 'N]\x0c', 'Yd\\', '.D>', '/{$', '_d]', '|0-', 'gmY', '+\\J', 'l@G', 'GOx', 'X"#', '1>G', 'P1#', 'f+0', 'tma', 'A<|', '-D]', '?u{', ' TW', '}.Q', 'K$E', '[8|', '~r+', '6@J', 'O=4', '{,]', '\t+w', 'z9!', 'NQh', ',H/', 'E5s', 'lgd', 'K\tk', '4Qd', '\nvd', "P.'"]

In [147]:
## YOUR CODE GOES HERE ##

In [148]:
## INSTRUCTION SOLUTION(S) ##
new_list = []

for item in codes_list:
    
    if not item.isalpha():
        continue
        
    new_list.append(item)
    
new_list

['gmY', 'GOx', 'tma', 'NQh', 'lgd']

Exercise 3. Create a <b><font color="green">while</font></b> loop that will validate a user's input. First get an input from the keyboard. You can assume your input will be numeric, i.e. only digits will be included. However, you can't assume that your input will be in the range of acceptable values. If the input is not between `1` and `25` (inclusive), ask for the input again. Otherwise, print the input integer raised to the power of three (aka "cubed") and exit the loop.

In [149]:
## YOUR CODE GOES HERE ##

In [150]:
## INSTRUCTION SOLUTION(S) ##

while True: 
    
    your_num = int(input('Please give an integer between 1 and 25. '))
    
    if 1 <= your_num <= 25:
        print('Your number cubed is:', your_num ** 3)
        break

Please give an integer between 1 and 25. 24
Your number cubed is: 13824

<hr>
<a id="function"></a>
### 8.6.5. Functions

Functions in Python are blocks of code that you can call and execute just by typing their name. Functions better organize your code and increase readability and reusability. The basic structure of a Python function is as follows:

```Python        
def function_name():
    print('Test')
 ```  
Once you have defined a function, you can execute it by using the syntax below. Note that the parentheses are required.
        
```Python
function_name()
```

We've used functions that are pre-defined for us, either by being built into Python or included in some library. The `print()` function is a built-in function in Python and the `.upper()` function belongs to the String library for example. But we can also define our own functions. Below we define a function called `say_goodmorning`.

In [151]:
def say_goodmorning(name):
    print('Good morning, ' + name + '!')

To call a defined function, simply type the function's name and a set of parentheses containing any arguments the function requires.

In [152]:
say_goodmorning('John')

Good morning, John!

Functions can contain as many arguments as you want. The function below takes three arguments.

In [153]:
def say_goodmorning_2(fname, lname, age):
    print('Good morning,', fname, lname)
    print('You are', age, 'years old.')

In [154]:
say_goodmorning_2('John', 'Doe', 40)

Good morning, John Doe
You are 40 years old.

In [155]:
## Try some code ideas here ##

<hr>
#### 8.6.5.1. The Return Statement
The <b><font color="green">return</font></b> statement exits a function, optionally passing back values into the script. A <b><font color="green">return</font></b> statement with nothing following it is the same as <b><font color="green">return None</font></b>. If a function returns `None`, you won't be able to do anything with data created inside the function once the function is done executing. Below we define a function that returns `None`. When we try to print the output of the function, we can see that `None` is the result. The variable we created inside the function is not available.

In [156]:
def squared(number):
    result = number * number

In [157]:
print(squared(50))

None

Let's add a <b><font color="green">return</font></b> statement and try again.

In [158]:
def squared(number):
    result = number * number
    return result

In [159]:
print(squared(50))

2500

Passing our function's output into the `print()` function simply shows us what our function returns to our script. But more often, you'll be passing this output into variables or other functions. The <b><font color="green">return</font></b> statement is how you make your functions talk to each other or to our larger scripts. For example, below we call our custom function `squared` inside of `math.sqrt`:

In [160]:
import math

math.sqrt(squared(50))

50.0

In the following example, we call `squared` in both the `if` statement and the `print()` statement.

In [161]:
n = 50

if squared(n) > 1000:
    print(str(squared(n)) + ', what a large result!')

2500, what a large result!

In [162]:
## Try some code ideas here ##

<hr>
#### 8.6.5.2. Namespaces

Variables in Python exist in *namespaces*, and a function has its own namespace that is separate from the larger script. Practically speaking, this means variables created inside functions are only accessible inside those functions unless they are returned by the function and assigned to a *global* variable. A variable's *scope* is defined by everywhere it can be accessed in your code. 

Scope determines:
* What segments of your code have access to a variable
* What value the variable will map to when called  
* What will be impacted when that variable is edited

The example below illustrates that assigning the variable `temp` inside the function `function_namespace()` does not affect the global variable `temp`. Run the code cells below to see it in action!

In [163]:
def function_namespace():
    temp = "I'm local."
    print(temp)

In [164]:
temp = "I'm global!"
print(temp)

function_namespace()

print(temp)

I'm global!
I'm local.
I'm global!

We see that `temp` still has its global value even after we call `function_namespace`, which assigns its own variable `temp` a different value and prints it to the screen. How could you change the code cells above to make `function_namespace` overwrite the global `temp` with its new value?

In [165]:
## Try some code ideas here ##

#### 8.6.5.3. Functions Exercise

Assign your height in feet and inches to a list in the format: `[feet, inches]`.  Write a function that takes your list as an argument (i.e., an input) and returns your total height in inches. Use this function to store your height in inches to a global variable.

In [166]:
## YOUR CODE GOES HERE ##

In [167]:
## INSTRUCTION SOLUTION(S) ##
height = [6, 2]

def height_inches(height):
    return(height[0] * 12 + height[1])

inch_height = height_inches(height)
print(inch_height)

74

<hr> <a id="GettingData"></a>
## 8.7. Getting Data
<a id="Prompt"></a>
### 8.7.1. Entering Data from the Prompt

Python's built-in `input()` function allows the user to input values from the keyboard in a Python script. The syntax to use `input()` is below:
```python
name = input(optional_text_prompt)
```    
In the example above, the `input()` function will prompt the user for input and assign that input as a string to the variable `name`.

In [168]:
name = input('Please enter your name: ')

print('\nHello ' + name + '! Your name spelled backwards is ' 
      + name[::-1].title())

Please enter your name:

Hello ! Your name spelled backwards is

You can also cast an input to a numerical data type, e.g. an integer, by wrapping the `input()` function in a casting function. But make sure that you make it clear to the user that you expect a numerical input. You'll get an error if the input string can't be cast to a number.

In [169]:
number = int(input('Please enter any integer: '))

print('Your number squared is', number ** 2)

Please enter any integer: 24
Your number squared is 576

#### 8.7.1.1. Data From the Prompt Exercise
Ask the user for their favorite number, then print their favorite number times 10.

In [170]:
## YOUR CODE GOES HERE ##

In [171]:
## INSTRUCTION SOLUTION(S) ##
favorite_num = int(input('Please enter your favorite number: '))

print(favorite_num * 10)

Please enter your favorite number: 15
150

<hr>
<a id="Local"></a>
### 8.7.2. Loading a Local Data File

Another method for getting data into a Python program involves reading a local file using the built-in `open()` function. We typically use the <b><font color="green">with</font></b> keyword to store the open file in a temporary variable. Then we indent our code just like with <b><font color="green">if</font></b> statements and loops, and the file will close automatically when the indentation ends. 

* To read a file, the mode is `'r'` (but this is the default value so we need not specify).
* To write a file, the mode is `'w'`.

In the following example, we read in some data and store it in our script. Remember that `.read()` always brings data in as a string.

In [172]:
with open('data/USGS_earthquake_data.xml') as my_file:
    USGS_xml_data = my_file.read()

USGS_xml_data

'<?xml version="1.0" encoding="UTF-8"?>\n<feed xmlns="http://www.w3.org/2005/Atom" xmlns:georss="http://www.georss.org/georss"><title>USGS All Earthquakes, Past Hour</title><updated>2017-08-18T02:10:18Z</updated><author><name>U.S. Geological Survey</name><uri>https://earthquake.usgs.gov/</uri></author><id>https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.atom</id><link rel="self" href="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.atom"/><icon>https://earthquake.usgs.gov/favicon.ico</icon>\n<entry><id>urn:earthquake-usgs-gov:us:2000a98e</id><title>M 2.5 - 81km W of Miramichi, Canada</title><updated>2017-08-18T01:47:05.040Z</updated><link rel="alternate" type="text/html" href="https://earthquake.usgs.gov/earthquakes/eventpage/us2000a98e"/><summary type="html"><![CDATA[<dl><dt>Time</dt><dd>2017-08-18 01:26:42 UTC</dd><dd>2017-08-17 21:26:42 -04:00 at epicenter</dd><dt>Location</dt><dd>46.980&deg;N 66.536&deg;W</dd><dt>Depth</dt><dd>9.00 km (5.59 mi)</dd></dl>]]></summary><georss:point>465847.64N 0663209.60W</georss:point><georss:elev>-9000</georss:elev><category label="Age" term="Past Hour"/><category label="Magnitude" term="Magnitude 2"/><category label="Contributor" term="us"/><category label="Author" term="us"/></entry>\n</feed>'

In [173]:
## Try some code ideas here ##

#### 8.7.2.1. Local Data File Exercise
Read in the file `'data/guided_exercise_01.txt'` and find how many times the word `'Muppets'` appears in the file.

In [174]:
## YOUR CODE GOES HERE ##

In [175]:
## INSTRUCTION SOLUTION(S) ##
with open('data/guided_exercise_01.txt') as f:
    text = f.read()

text.lower().count('muppets')

20

<hr> <a id="csv"></a>
### 8.7.3. Getting Data with the CSV Library
<img src="./GRAPHICS/csvReader.png" width="30%"><br>

The comma separated values (CSV) file format is a common import and export format for spreadsheets, databases and programming languages. There are two methods for reading data with the CSV Library that are of interest in this course: `csv.reader()` and `csv.DictReader()`. Example for both methods are below.

```python
with open(filepath) as csvfile:
    temp = csv.reader(csvfile)
    for row in temp:
        print(row)

with open(filepath) as csvfile:
    temp = csv.DictReader(csvfile)
    for row in temp:
        print(row)
```

Whenever we use methods from a library, we have to import the library into our script. We only need to do this once per kernel.

In [176]:
import csv

The CSV Library's methods for reading files create objects that we can iterate over but not print or manipulate easily. Therefore, a common tactic is to iterate over these objects and store their contents to a list. Below, we store each row of CSV data into a list of dictionaries.

In [177]:
land_animals = []

with open('data/animal/animal_info_land.csv') as csvfile:
    
    animal = csv.DictReader(csvfile)
    
    for row in animal:
        land_animals.append(row)

land_animals

[{'Average Lifespan': '25',
  'Diet': 'Shrubbery',
  'Name': 'Giraffe',
  'Weight': '2600'},
 {'Average Lifespan': '20',
  'Diet': 'Shrubbery',
  'Name': 'Moose',
  'Weight': '1300'},
 {'Average Lifespan': '20',
  'Diet': 'Bamboo',
  'Name': 'Giant Panda',
  'Weight': '220'},
 {'Average Lifespan': '14',
  'Diet': 'Bamboo',
  'Name': 'Red Panda',
  'Weight': '14'},
 {'Average Lifespan': '45',
  'Diet': 'Grass',
  'Name': 'Hippopotamus',
  'Weight': '3800'},
 {'Average Lifespan': '12',
  'Diet': 'Gazelle',
  'Name': 'Lion',
  'Weight': '400'},
 {'Average Lifespan': '100',
  'Diet': 'Grass',
  'Name': 'Tortoise',
  'Weight': '100'}]

#### 8.7.3.1. CSV File Exercises
Exercise 1. Find how many rows are in the csv data in `land_animals` (using code, not your counting skills!).

In [178]:
## YOUR CODE GOES HERE ##

In [179]:
## INSTRUCTION SOLUTION(S) ##
len(land_animals)

7

Exercise 2. Find how many items are in each row in the csv data. 

HINT: Every row contains the same number of items

In [180]:
## YOUR CODE GOES HERE ##

In [181]:
## INSTRUCTION SOLUTION(S) ##
len(land_animals[0])

4

Exercise 3. Find the data type of the values stored in the `'Average Lifespan'` column in the csv data.

HINT : Every row contains a value of the same data type for this column.

In [182]:
## YOUR CODE GOES HERE ##

In [183]:
## INSTRUCTION SOLUTION(S) ##
type(land_animals[0]['Average Lifespan'])

str

Exercise 4. Add a row to `land_animals`. Make sure your keys match the other keys in the dataset. Then write your new data out to a file in the `data/` folder. You can call the file whatever you want, but don't overwrite any existing files.

In [184]:
## YOUR CODE GOES HERE ##

In [185]:
## INSTRUCTION SOLUTION(S) ##

land_animals.append({'Name': 'Mouse', 'Weight': 1, 'Diet': 'Cheese', 'Average Lifespan': 5})

with open('data/new_land_animals.csv', 'w', newline='') as f:
    
    fieldnames = ['Name', 'Weight', 'Diet', 'Average Lifespan']
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(land_animals)

<hr> <a class="anchor" id="glob"></a>
### 8.7.4. The Glob Library

The Glob Library finds all the filepaths matching a specified pattern. The syntax for implementing glob is below:

```python
files = glob.glob('data/fr24/*')
```

In the example above, the pattern will get everything that includes the path `data/fr24/`, including every file that lives in a subfolder inside `fr24`.

A more restrictive pattern would be: `'data/fr24/*.csv'`. This would only get items in the `fr24` folder that ended in `'.csv'`, or in other words every CSV file. When you build patterns with `.glob()`, make sure your pattern is neither too restrictive nor too broad. Before we can use `.glob()` we need to import the Glob Library.

In [186]:
import glob

In [187]:
files = glob.glob('data/animal/*.csv')
files

['data/animal\\animal_dict_output.csv',
 'data/animal\\animal_info_land.csv',
 'data/animal\\animal_info_sea.csv',
 'data/animal\\animal_output.csv']

In [188]:
## Try some code ideas here ##

<b><font color="firebrick">Instructor Guidance</font>: Poll the class for any questions about the functions and libraries covered in Getting Data. Work through questions in the code cell below.</b>

#### 8.7.4.1. Glob Library Exercises

Exercise 1. Read in all the CSV files from the `data/animal/` subfolder that include the word `info` in their filename. Put all the data into a single list.

In [189]:
## YOUR CODE GOES HERE ##

In [190]:
## INSTRUCTION SOLUTION(S) ##
animal_info = []

files = glob.glob('data/animal/*info*.csv')

for file in files:
    
    with open(file) as f:
        
        reader = csv.DictReader(f)
        
        for row in reader:
            animal_info.append(row)
            
animal_info

[{'Average Lifespan': '25',
  'Diet': 'Shrubbery',
  'Name': 'Giraffe',
  'Weight': '2600'},
 {'Average Lifespan': '20',
  'Diet': 'Shrubbery',
  'Name': 'Moose',
  'Weight': '1300'},
 {'Average Lifespan': '20',
  'Diet': 'Bamboo',
  'Name': 'Giant Panda',
  'Weight': '220'},
 {'Average Lifespan': '14',
  'Diet': 'Bamboo',
  'Name': 'Red Panda',
  'Weight': '14'},
 {'Average Lifespan': '45',
  'Diet': 'Grass',
  'Name': 'Hippopotamus',
  'Weight': '3800'},
 {'Average Lifespan': '12',
  'Diet': 'Gazelle',
  'Name': 'Lion',
  'Weight': '400'},
 {'Average Lifespan': '100',
  'Diet': 'Grass',
  'Name': 'Tortoise',
  'Weight': '100'},
 {'Average Lifespan': '95',
  'Diet': 'Krill',
  'Name': 'Blue Whale',
  'Weight': '300000'},
 {'Average Lifespan': '70',
  'Diet': 'Fish',
  'Name': 'Great White Shark',
  'Weight': '2000'},
 {'Average Lifespan': '10',
  'Diet': 'Jellyfish',
  'Name': 'Ocean Sunfish',
  'Weight': '2200'},
 {'Average Lifespan': '50',
  'Diet': 'Fish',
  'Name': 'Narwhal',
  'Weight': '2100'},
 {'Average Lifespan': '8',
  'Diet': 'Fish',
  'Name': 'Yellowfin Tuna',
  'Weight': '400'},
 {'Average Lifespan': '80',
  'Diet': 'Seaweed',
  'Name': 'Sea Turtle',
  'Weight': '350'}]

Exercise 2. Take that data from Exercise 1 above and write it out to a single CSV file named `'animal_info_all.csv`' in the `data/animal/` folder, be sure to include column names.

In [191]:
## YOUR CODE GOES HERE ##

In [192]:
## INSTRUCTION SOLUTION(S) ##

with open('data/animal/animal_info_all.csv', mode='w', newline='') as f:
    
    fieldnames = animal_info[0].keys()
    writer = csv.DictWriter(f, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(animal_info)

<hr> <a id="json"></a>
### 8.7.5. The JSON Library
<img src="./GRAPHICS/JSON.png" width="50%"><br>

The JSON Library allows Python to import JSON-formatted strings as dictionaries and export dictionaries as JSON-formatted strings or files.  The implementation syntax is below.

| Code                    | Action                                     |
|-------------------------|--------------------------------------------|
|`json.loads(json_formatted_string)`    | Converts a JSON string to a Python dictionary |
|`json.load(json_formatted_file_obj)`   | Converts a JSON file to a Python dictionary |
|`json.dumps(my_dictionary)`            | Converts a Python dictionary to a JSON string |
|`json.dump(my_dictionary, file_obj)`   | Converts a Python dictionary to a JSON file |


As always, we must import the JSON Library before we can use its methods.

In [193]:
import json

Now we can read in some JSON data stored on our computers. The code below reaches out to a file in the `data/` folder and parses the data inside it into a Python dictionary.

In [194]:
with open('data/USGS_Earthquake_Data_Single.geojson') as f:
    USGS_dict_single = json.load(f)

USGS_dict_single

{'bbox': [-155.4211731, 19.2338333, 2.85, -89.6829987, 64.5602, 64.22],
 'features': [{'geometry': {'coordinates': [-149.3078, 64.5602, 8.6],
    'type': 'Point'},
   'id': 'ak18070078',
   'properties': {'alert': None,
    'cdi': None,
    'code': '18070078',
    'detail': 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/detail/ak18070078.geojson',
    'dmin': None,
    'felt': None,
    'gap': None,
    'ids': ',ak18070078,',
    'mag': 1.5,
    'magType': 'ml',
    'mmi': None,
    'net': 'ak',
    'nst': None,
    'place': '9km WSW of North Nenana, Alaska',
    'rms': 0.65,
    'sig': 35,
    'sources': ',ak,',
    'status': 'automatic',
    'time': 1516119891807,
    'title': 'M 1.5 - 9km WSW of North Nenana, Alaska',
    'tsunami': 0,
    'type': 'earthquake',
    'types': ',geoserve,origin,',
    'tz': -540,
    'updated': 1516120348239,
    'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/ak18070078'},
   'type': 'Feature'}],
 'metadata': {'api': '1.5.8',
  'count': 1,
  'generated': 1516122464000,
  'status': 200,
  'title': 'USGS All Earthquakes, Past Hour',
  'url': 'https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson'},
 'type': 'FeatureCollection'}

Use the `type()` function to verify the data structure above is a dictionary.

In [195]:
## Try some code ideas here ##

#### 8.7.5.1. JSON Library Exercise
Read in the file `'data/USGS_Earthquake_Data_Multiple.geojson'` and convert it to a Python dictionary. Then figure out how many unique earthquakes have information stored in the file.

In [196]:
## YOUR CODE GOES HERE ##

In [197]:
## INSTRUCTION SOLUTION(S) ##
with open('data/USGS_Earthquake_Data_Multiple.geojson') as f:
    quake_dict = json.load(f)

len(quake_dict['features'])

6

<hr>
<a id="Administrative"></a>
## 8.8. Administrative Notes
* Save your Lesson 8 .ipynb file to your H drive.

<b><center>UNCLASSIFIED</center></b>